// .about
//   display: flex

//   .reviews
//     padding: 5em 3em
//     margin: auto
//     max-width: 700px

//     .review
//       color: #5C493D
//       padding: .3em
//       //background: rgba(0,0,0,.5)
//       border-right: 5px solid #3A352F
//       //box-shadow:1px 3px 3px rgba(0,0,0,0.3)

//       &-body
//         font-size: 16px

//         &:before
//           color: #80D3BB;
//           content: open-quote;
//           font-size: 4em;
//           line-height: 0.1em;
//           margin-right: 0.25em;
//           vertical-align: -0.4em;

//       &-autor
//         text-align: right
//         font-size: 14px
//         padding-top: 1em

//         > div
//           display: inline-block
//           margin-right: 10px

//         &-name
//           font-weight: 600

//         &-role
//           font-weight: 100
