@import 'variables'

//starfall helpers

global-reset()
reset-html5()

//Declare some stuff

random(min, max)
  return math(math(0, 'random')*(max - min + 1) + min, 'floor')px

multipleBoxShadow(n)
  value = random(0, 2000) random(0, 2000) #fff1df
  for $i in 0..n
    value = value, random(0, 2000) random(0, 2000) #fff1df
  return value

//Stars

$bigStars    = multipleBoxShadow(700)
$mediumStars = multipleBoxShadow(200)
$smallStarts = multipleBoxShadow(100)

//App

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

.app
  font-family: 'Raleway'
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow-x: hidden
  overflow-y: auto

  //background: #FEF9F0

@-webkit-keyframes rotate
  from
    transform: rotate(0deg)
  to
   transform: rotate(360deg)

@-webkit-keyframes rotateRecursive
  from
    transform: rotate(360deg)
  to
   transform: rotate(0deg)

@-webkit-keyframes starfall
  from
    transform: translateY(0px)
  to
    transform: translateY(-2000px)

@-webkit-keyframes sideSpacer
  from
    height: 300px
  to
    height: 0

a
  color: $anchor
  text-decoration: none

  &:hover
    text-decoration: underline

.spacer
  height: 0

  &.minimized
    height: 0
    animation: sideSpacer .8s ease 1

header.header
  display: flex
  flex-direction: column
  height: 300px
  background: $azure
  //overflow: hidden
  transition: height .8s ease, background .8s ease

  &.minimized
    height: 38px
    position: fixed;
    left: 0;
    right: 0;
    flex-direction: row
    background: $azure

    .header-top
      align-items: flex-end
      justify-content: flex-end

    .clouds, .stars
      height: 38px
      overflow: hidden

  .header-top
    position: fixed
    user-select: none
    left: 0
    right: 0
    display: flex
    align-items: center
    justify-content: center
    color: $black
    padding: 10px
    z-index: 5
    background: rgba(255,255,255,.7)
    transition: background .8s ease;

    .nav
      transition: all .8s ease
      ul
        text-transform: uppercase

        li
          display: inline-block
          padding-right: 20px

          a
            text-decoration: none
            color: $black
            font-size: 18px

            &.active
              color: $white

              &:hover
                text-shadow: none

            &:hover
              text-shadow: $hover

  .title
    margin: auto
    text-align: center
    color: $white
    z-index: 5
    transition: color .8s ease-in

    h1
      font-size: 4em
      font-weight: 300
      //text-shadow: 0 0 30px rgba(0,0,0,0.7)
      letter-spacing: 5px
      text-shadow: $glow
      transition: color .8s ease-in

    h3
      font-size: 1.5em
      font-weight: 300
      text-shadow: $glow
      transition: color .8s ease-in

  .clouds, .stars
    overflow: hidden
    position: absolute
    left: 0
    right: 0
    height: 300px
    transition: height .8s ease

    .cloud
      pointer-events: none
      position: absolute
      opacity: .2

      &:nth-of-type(1)
        left: -140px
        top: -50px
        height: 600px
        animation: rotate 200s linear infinite

      &:nth-of-type(2)
        left: 12%
        top: -40px
        height: 600px
        animation: rotate 140s linear infinite
        opacity: .1

      &:nth-of-type(3)
        left: 14%
        top: -20px
        height: 500px
        animation: rotate 100s linear infinite

      &:nth-of-type(4)
        left: 50%
        top: 10px
        height: 600px
        animation: rotate 100s linear infinite

      &:nth-of-type(5)
        left: 80%
        top: -30px
        height: 650px
        animation: rotate 130s linear infinite

  .stars-small
    width: 1px
    height: 1px
    background: transparent
    box-shadow: $bigStars
    animation: starfall 150s linear infinite

    &:after
      content: " "
      position: absolute
      top: 2000px
      width: 1px
      height: 1px
      background: transparent
      box-shadow: $bigStars

  .stars-medium
    width: 2px
    height: 2px
    background: transparent
    box-shadow:$mediumStars
    animation : starfall 100s linear infinite

    &:after
      content: " "
      position: absolute
      top: 2000px
      width: 2px
      height: 2px
      background: transparent
      box-shadow:$mediumStars

  .stars-big
    width: 3px
    height: 3px
    background: transparent
    animation: starfall 50s linear infinite
    box-shadow: $smallStarts

    &:after
      content: " "
      position: absolute
      top: 2000px
      width: 3px
      height: 3px
      background: transparent
      box-shadow: $smallStarts

    &:after
      content: " "
      width: 3px
      height: 3px
      background: $white

  .header-bottom
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    left: 0
    right: 0
    transform: translateY(-50%) scale(.5)
    z-index: 5
    opacity: 0
    transition: opacity .3s ease, transform .3s ease

    &.visible
      opacity: 1
      transform: translateY(-50%) scale(1)

    img
      width: 170px
      height: 170px
      border-radius: 100%
      border: 3px solid $white;
      //transition: width .4s ease, height .4s ease

  &.minimized .title
    margin-left: 110px
    color: $black
    font-size: 0.3em

    h3
      display: none

  &.minimized .header-bottom
    transform: translateY(0%)
    justify-content: flex-start
    width: 50%

    img
      width: 75px
      height: 75px
      border: 2px solid $white;
      margin-left: 25px

.footer
  text-align: center
  margin: 60px
  padding-bottom: 20px


.main
  padding-top: 120px
  height: 100%

  .content
    display: flex
    flex-direction: column
    background: $white
    transition: all .8s ease
