//starfall helpers

global-reset()
reset-html5()

//Declare some stuff

random(min, max)
  return math(math(0, 'random')*(max - min + 1) + min, 'floor')px

multipleBoxShadow(n)
  value = random(0, 2000) random(0, 2000) #fff1df
  for $i in 0..n
    value = value, random(0, 2000) random(0, 2000) #fff1df
  return value

//stars

$bigStars    = multipleBoxShadow(700)
$mediumStars = multipleBoxShadow(200)
$smallStarts = multipleBoxShadow(100)

//Colors

$white  = #FFF
$black  = #000
$dark   = #404040
$gray   = #B8E0D4
$anchor = #c05b4d
$azure  = radial-gradient(ellipse at top, #1B2735 0%, #090A0F 100%)
$glow   = 0 0px 15px rgba(59, 225, 255, .8)
$hover  =  0 0px 10px #fff

//App

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

.app
  font-family: 'Raleway'
  display: flex
  flex-direction: column
  flex-wrap: wrap
  //background: #FEF9F0

@-webkit-keyframes rotate
  from
    transform: rotate(0deg)
  to
   transform: rotate(360deg)

@-webkit-keyframes rotateRecursive
  from
    transform: rotate(360deg)
  to
   transform: rotate(0deg)

@-webkit-keyframes starfall
  from
    transform: translateY(0px)
  to
    transform: translateY(-2000px)

@-webkit-keyframes sideSpacer
  from
    height: 300px
  to
    height: 30px

.spacer
  height: 0

  &.minimized
    height: 30px
    animation: sideSpacer .8s ease 1

header.header
  display: flex
  flex-direction: column
  height: 300px
  background: $azure
  //overflow: hidden
  transition: height .8s ease, background .8s ease

  &.minimized
    height: 38px
    position: fixed;
    left: 0;
    right: 0;
    flex-direction: row
    background: rgba(27, 39, 53, .9)

    .header-top
      align-items: flex-end
      justify-content: flex-end

    .clouds, .stars
      height: 38px
      overflow: hidden

  .header-top
    position: fixed
    user-select: none
    left: 0
    right: 0
    display: flex
    align-items: center
    justify-content: center
    color: $black
    padding: 10px
    z-index: 5
    background: rgba(255,255,255,.7)
    transition: background .8s ease;

    .nav
      transition: all .8s ease
      ul
        text-transform: uppercase

        li
          display: inline-block
          padding-right: 20px

          a
            text-decoration: none
            color: $black
            font-size: 18px

            &.active
              color: $white

              &:hover
                text-shadow: none

            &:hover
              text-shadow: $hover

  .title
    margin: auto
    text-align: center
    color: $white
    z-index: 5
    transition: color .8s ease-in

    h1
      font-size: 4em
      font-weight: 300
      //text-shadow: 0 0 30px rgba(0,0,0,0.7)
      letter-spacing: 5px
      text-shadow: $glow
      transition: color .8s ease-in

    h3
      font-size: 1.5em
      font-weight: 300
      text-shadow: $glow
      transition: color .8s ease-in

  .clouds, .stars
    overflow: hidden
    position: absolute
    left: 0
    right: 0
    height: 300px
    transition: height .8s ease

    .cloud
      pointer-events: none
      position: absolute
      opacity: .2

      &:nth-of-type(1)
        left: -140px
        top: -50px
        height: 600px
        animation: rotate 200s linear infinite

      &:nth-of-type(2)
        left: 12%
        top: -40px
        height: 600px
        animation: rotate 140s linear infinite
        opacity: .1

      &:nth-of-type(3)
        left: 14%
        top: -20px
        height: 500px
        animation: rotate 100s linear infinite

      &:nth-of-type(4)
        left: 50%
        top: 10px
        height: 600px
        animation: rotate 100s linear infinite

      &:nth-of-type(5)
        left: 80%
        top: -30px
        height: 650px
        animation: rotate 130s linear infinite

  .stars-small
    width: 1px
    height: 1px
    background: transparent
    box-shadow: $bigStars
    animation: starfall 150s linear infinite

    &:after
      content: " "
      position: absolute
      top: 2000px
      width: 1px
      height: 1px
      background: transparent
      box-shadow: $bigStars

  .stars-medium
    width: 2px
    height: 2px
    background: transparent
    box-shadow:$mediumStars
    animation : starfall 100s linear infinite

    &:after
      content: " "
      position: absolute
      top: 2000px
      width: 2px
      height: 2px
      background: transparent
      box-shadow:$mediumStars

  .stars-big
    width: 3px
    height: 3px
    background: transparent
    animation: starfall 50s linear infinite
    box-shadow: $smallStarts

    &:after
      content: " "
      position: absolute
      top: 2000px
      width: 3px
      height: 3px
      background: transparent
      box-shadow: $smallStarts

    &:after
      content: " "
      width: 3px
      height: 3px
      background: $white

  .header-bottom
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    left: 0
    right: 0
    transform: translateY(-50%)
    z-index: 5

    img
      width: 170px
      height: 170px
      border-radius: 100%
      border: 3px solid $white;
      //transition: width .4s ease, height .4s ease

  &.minimized .title
    margin-left: 110px
    color: $black
    font-size: 0.3em

    h3
      display: none

  &.minimized .header-bottom
    transform: translateY(0%)
    justify-content: flex-start
    width: 50%

    img
      width: 75px
      height: 75px
      border: 2px solid $white;
      margin-left: 25px


.content
  display: flex
  margin-top: 120px
  flex-direction: column
  height: 1300px //DEV
  background: $white
  transition: all .8s ease

  header.content-header

    .title
      margin: auto
      text-align: center
      color: $black
      z-index: 5
      transition: color .8s ease

      h1
        font-size: 4em
        font-weight: 300
        letter-spacing: 5px

      h3
        margin-top: 20px
        font-size: 1.5em
        font-weight: 300
        color: $dark

  .reviews
    padding: 0 14%
    margin: 100px auto 100px auto

    ul
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      align-items: center


    li
      display: inline-block
      border-right: 3px solid $gray
      padding: 10px 20px
      max-width: 450px
      margin: 10px

      p
        color: $dark

        &:before
          color: $gray
          content: open-quote
          font-size: 4em
          line-height: 0.1em
          margin-right: 0.1em
          vertical-align: -0.4em

      .reviewer
        margin-top: 15px
        float: right

        strong
          font-weight: 600

        a
          color: $anchor





