@import 'variables'

.contact
  align-items: center
  height: 85%
  display: flex
  align-items: center
  justify-content: center

  h1
    font-size: 48px
    margin-bottom: 10px

  ul
    margin-top: 20px

    li
      padding: 10px
      text-align: center
      a
        text-align: center
        font-size: 28px
        margin-left: 10px

      span
        font-size: 28px
        color: $gray-1
        margin-left: 10px
