@import 'variables'

.contact
  align-items: center

  h1
    font-size: 48px
    margin-bottom: 10px

  ul
    li
      padding: 10px
      text-align: center
      a
        text-align: center
        font-size: 28px
        margin-left: 10px

      span
        font-size: 28px
        color: $gray-1
        margin-left: 10px
