.about header.content-header .title {
  margin: auto;
  text-align: center;
  color: #000;
  z-index: 5;
  -webkit-transition: color 0.8s ease;
  transition: color 0.8s ease;
}
.about header.content-header .title h1 {
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 5px;
}
.about header.content-header .title h3 {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: 300;
  color: #404040;
}
.about .about-paragraph {
  border-top: 1px solid #c8c8c8;
  margin: 100px auto 20px auto;
  max-width: 600px;
  font-size: 20px;
}
.about .about-paragraph p {
  margin: 20px 0;
  line-height: 26px;
}
.about .about-paragraph strong {
  font-weight: bold;
}
.about .reviews {
  padding: 0 14%;
  margin: 100px auto 100px auto;
}
.about .reviews ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.about .reviews li {
  display: inline-block;
  border-right: 3px solid #888;
  padding: 10px 20px;
  max-width: 450px;
  margin: 10px;
}
.about .reviews li p {
  color: #404040;
}
.about .reviews li p:before {
  color: #888;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}
.about .reviews li .reviewer {
  margin-top: 15px;
  float: right;
}
.about .reviews li .reviewer strong {
  font-weight: 600;
}
.about .reviews li .reviewer a {
  color: #c05b4d;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.app {
  font-family: 'Raleway';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateRecursive {
  from {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes starfall {
  from {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@-webkit-keyframes sideSpacer {
  from {
    height: 300px;
  }
  to {
    height: 0;
  }
}
a {
  color: #c05b4d;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.spacer {
  height: 0;
}
.spacer.minimized {
  height: 0;
  -webkit-animation: sideSpacer 0.8s ease 1;
  -ms-animation: sideSpacer 0.8s ease 1;
  animation: sideSpacer 0.8s ease 1;
}
header.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 300px;
  background: -webkit-radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
  background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
  -webkit-transition: height 0.8s ease, background 0.8s ease;
  transition: height 0.8s ease, background 0.8s ease;
}
header.header.minimized {
  height: 38px;
  position: fixed;
  left: 0;
  right: 0;
  -webkit-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background: -webkit-radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
  background: -webkit-radial-gradient(top, ellipse, #1b2735 0%, #090a0f 100%);
  background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
}
header.header.minimized .header-top {
  -webkit-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
header.header.minimized .clouds,
header.header.minimized .stars {
  height: 38px;
  overflow: hidden;
}
header.header .header-top {
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #000;
  padding: 10px;
  z-index: 5;
  background: rgba(255,255,255,0.7);
  -webkit-transition: background 0.8s ease;
  transition: background 0.8s ease;
}
header.header .header-top .nav {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
header.header .header-top .nav ul {
  text-transform: uppercase;
}
header.header .header-top .nav ul li {
  display: inline-block;
  padding-right: 20px;
}
header.header .header-top .nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
header.header .header-top .nav ul li a.active {
  color: #fff;
}
header.header .header-top .nav ul li a.active:hover {
  text-shadow: none;
}
header.header .header-top .nav ul li a:hover {
  text-shadow: 0 0px 10px #fff;
}
header.header .title {
  margin: auto;
  text-align: center;
  color: #fff;
  z-index: 5;
  -webkit-transition: color 0.8s ease-in;
  transition: color 0.8s ease-in;
}
header.header .title h1 {
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 5px;
  text-shadow: 0 0px 15px rgba(59,225,255,0.8);
  -webkit-transition: color 0.8s ease-in;
  transition: color 0.8s ease-in;
}
header.header .title h3 {
  font-size: 1.5em;
  font-weight: 300;
  text-shadow: 0 0px 15px rgba(59,225,255,0.8);
  -webkit-transition: color 0.8s ease-in;
  transition: color 0.8s ease-in;
}
header.header .clouds,
header.header .stars {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  height: 300px;
  -webkit-transition: height 0.8s ease;
  transition: height 0.8s ease;
}
header.header .clouds .cloud,
header.header .stars .cloud {
  pointer-events: none;
  position: absolute;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
header.header .clouds .cloud:nth-of-type(1),
header.header .stars .cloud:nth-of-type(1) {
  left: -140px;
  top: -50px;
  height: 600px;
  -webkit-animation: rotate 200s linear infinite;
  -ms-animation: rotate 200s linear infinite;
  animation: rotate 200s linear infinite;
}
header.header .clouds .cloud:nth-of-type(2),
header.header .stars .cloud:nth-of-type(2) {
  left: 12%;
  top: -40px;
  height: 600px;
  -webkit-animation: rotate 140s linear infinite;
  -ms-animation: rotate 140s linear infinite;
  animation: rotate 140s linear infinite;
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
header.header .clouds .cloud:nth-of-type(3),
header.header .stars .cloud:nth-of-type(3) {
  left: 14%;
  top: -20px;
  height: 500px;
  -webkit-animation: rotate 100s linear infinite;
  -ms-animation: rotate 100s linear infinite;
  animation: rotate 100s linear infinite;
}
header.header .clouds .cloud:nth-of-type(4),
header.header .stars .cloud:nth-of-type(4) {
  left: 50%;
  top: 10px;
  height: 600px;
  -webkit-animation: rotate 100s linear infinite;
  -ms-animation: rotate 100s linear infinite;
  animation: rotate 100s linear infinite;
}
header.header .clouds .cloud:nth-of-type(5),
header.header .stars .cloud:nth-of-type(5) {
  left: 80%;
  top: -30px;
  height: 650px;
  -webkit-animation: rotate 130s linear infinite;
  -ms-animation: rotate 130s linear infinite;
  animation: rotate 130s linear infinite;
}
header.header .stars-small {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 822px 1932px #fff1df, 1464px 1384px #fff1df, 635px 486px #fff1df, 1082px 1753px #fff1df, 53px 1117px #fff1df, 1334px 141px #fff1df, 1589px 419px #fff1df, 1322px 1729px #fff1df, 308px 1566px #fff1df, 1307px 555px #fff1df, 1482px 1139px #fff1df, 1346px 53px #fff1df, 1894px 1853px #fff1df, 1638px 1551px #fff1df, 1037px 355px #fff1df, 895px 425px #fff1df, 1494px 1787px #fff1df, 272px 1268px #fff1df, 829px 1056px #fff1df, 1054px 317px #fff1df, 1460px 864px #fff1df, 130px 834px #fff1df, 568px 17px #fff1df, 1600px 1985px #fff1df, 1055px 1574px #fff1df, 917px 185px #fff1df, 432px 718px #fff1df, 41px 880px #fff1df, 259px 1420px #fff1df, 843px 163px #fff1df, 583px 842px #fff1df, 466px 1054px #fff1df, 1306px 390px #fff1df, 1097px 415px #fff1df, 1339px 1636px #fff1df, 1171px 1192px #fff1df, 815px 1997px #fff1df, 1386px 382px #fff1df, 1348px 1762px #fff1df, 1176px 735px #fff1df, 633px 1592px #fff1df, 975px 1534px #fff1df, 944px 1081px #fff1df, 1097px 463px #fff1df, 288px 1954px #fff1df, 913px 1706px #fff1df, 1637px 694px #fff1df, 1836px 458px #fff1df, 949px 1131px #fff1df, 1694px 1985px #fff1df, 1323px 1077px #fff1df, 708px 1227px #fff1df, 1375px 1366px #fff1df, 1277px 1973px #fff1df, 1075px 1532px #fff1df, 993px 1687px #fff1df, 1403px 74px #fff1df, 1894px 8px #fff1df, 20px 1069px #fff1df, 713px 679px #fff1df, 1967px 1561px #fff1df, 1613px 1266px #fff1df, 1245px 827px #fff1df, 1500px 1487px #fff1df, 1929px 1000px #fff1df, 201px 432px #fff1df, 165px 1504px #fff1df, 1704px 111px #fff1df, 393px 995px #fff1df, 1810px 498px #fff1df, 897px 1790px #fff1df, 326px 1373px #fff1df, 508px 1736px #fff1df, 249px 1866px #fff1df, 45px 21px #fff1df, 1814px 206px #fff1df, 767px 1148px #fff1df, 902px 776px #fff1df, 824px 1744px #fff1df, 1379px 519px #fff1df, 1478px 500px #fff1df, 970px 1829px #fff1df, 1074px 382px #fff1df, 563px 711px #fff1df, 1412px 914px #fff1df, 187px 812px #fff1df, 1298px 916px #fff1df, 1653px 1288px #fff1df, 338px 1042px #fff1df, 393px 1018px #fff1df, 280px 514px #fff1df, 1342px 1294px #fff1df, 714px 441px #fff1df, 477px 1835px #fff1df, 1572px 1086px #fff1df, 409px 1334px #fff1df, 169px 1419px #fff1df, 46px 1516px #fff1df, 687px 1136px #fff1df, 1032px 313px #fff1df, 171px 534px #fff1df, 1176px 1031px #fff1df, 1273px 22px #fff1df, 1293px 770px #fff1df, 658px 1994px #fff1df, 1535px 698px #fff1df, 730px 1926px #fff1df, 1443px 101px #fff1df, 441px 542px #fff1df, 1125px 50px #fff1df, 1403px 1522px #fff1df, 975px 162px #fff1df, 1886px 1184px #fff1df, 1420px 1606px #fff1df, 44px 425px #fff1df, 82px 228px #fff1df, 477px 1674px #fff1df, 1052px 1256px #fff1df, 818px 1967px #fff1df, 656px 1147px #fff1df, 790px 992px #fff1df, 1550px 1757px #fff1df, 383px 1521px #fff1df, 932px 764px #fff1df, 706px 1172px #fff1df, 922px 1941px #fff1df, 1162px 1935px #fff1df, 160px 1075px #fff1df, 1681px 453px #fff1df, 1580px 836px #fff1df, 276px 1787px #fff1df, 619px 1131px #fff1df, 1034px 516px #fff1df, 1005px 155px #fff1df, 653px 1430px #fff1df, 607px 857px #fff1df, 1946px 1392px #fff1df, 374px 1010px #fff1df, 2000px 422px #fff1df, 1571px 5px #fff1df, 171px 1526px #fff1df, 53px 1564px #fff1df, 1595px 1509px #fff1df, 447px 431px #fff1df, 383px 1007px #fff1df, 698px 1458px #fff1df, 733px 1393px #fff1df, 717px 1489px #fff1df, 510px 1141px #fff1df, 1821px 1201px #fff1df, 247px 482px #fff1df, 1364px 1199px #fff1df, 667px 1273px #fff1df, 1460px 803px #fff1df, 1479px 740px #fff1df, 397px 1895px #fff1df, 1654px 1770px #fff1df, 624px 999px #fff1df, 1108px 1558px #fff1df, 166px 27px #fff1df, 1281px 1160px #fff1df, 243px 1425px #fff1df, 529px 1648px #fff1df, 696px 1115px #fff1df, 1963px 1827px #fff1df, 1330px 1571px #fff1df, 1460px 199px #fff1df, 1890px 385px #fff1df, 824px 471px #fff1df, 1898px 7px #fff1df, 225px 375px #fff1df, 1274px 848px #fff1df, 1491px 2000px #fff1df, 594px 300px #fff1df, 910px 692px #fff1df, 372px 610px #fff1df, 1352px 180px #fff1df, 584px 42px #fff1df, 312px 1542px #fff1df, 1512px 1167px #fff1df, 1543px 1451px #fff1df, 892px 1947px #fff1df, 1048px 1777px #fff1df, 725px 1474px #fff1df, 1678px 1133px #fff1df, 1823px 1215px #fff1df, 1324px 1260px #fff1df, 1952px 663px #fff1df, 1171px 545px #fff1df, 895px 1143px #fff1df, 1902px 270px #fff1df, 28px 76px #fff1df, 958px 1703px #fff1df, 1939px 1556px #fff1df, 1272px 1826px #fff1df, 1855px 91px #fff1df, 211px 1790px #fff1df, 419px 15px #fff1df, 7px 714px #fff1df, 276px 74px #fff1df, 1810px 5px #fff1df, 742px 1966px #fff1df, 1729px 401px #fff1df, 1963px 1826px #fff1df, 1249px 780px #fff1df, 1088px 1364px #fff1df, 724px 1284px #fff1df, 931px 569px #fff1df, 1895px 1938px #fff1df, 1384px 1143px #fff1df, 1625px 400px #fff1df, 276px 1381px #fff1df, 1424px 111px #fff1df, 1109px 45px #fff1df, 185px 1px #fff1df, 636px 964px #fff1df, 181px 787px #fff1df, 534px 1016px #fff1df, 689px 498px #fff1df, 1426px 155px #fff1df, 637px 1839px #fff1df, 1140px 1848px #fff1df, 1325px 1007px #fff1df, 532px 1071px #fff1df, 121px 991px #fff1df, 1234px 1199px #fff1df, 1054px 995px #fff1df, 358px 1802px #fff1df, 635px 184px #fff1df, 1109px 291px #fff1df, 552px 1375px #fff1df, 303px 372px #fff1df, 368px 1990px #fff1df, 637px 988px #fff1df, 1614px 494px #fff1df, 1925px 1903px #fff1df, 102px 1433px #fff1df, 444px 1761px #fff1df, 666px 1961px #fff1df, 1604px 1799px #fff1df, 1084px 1620px #fff1df, 1863px 1301px #fff1df, 878px 1162px #fff1df, 984px 58px #fff1df, 813px 130px #fff1df, 492px 797px #fff1df, 1530px 910px #fff1df, 563px 1335px #fff1df, 710px 189px #fff1df, 1421px 1828px #fff1df, 846px 1538px #fff1df, 518px 513px #fff1df, 211px 964px #fff1df, 497px 1235px #fff1df, 127px 1124px #fff1df, 1061px 1700px #fff1df, 143px 29px #fff1df, 776px 1750px #fff1df, 1920px 755px #fff1df, 1172px 271px #fff1df, 1306px 1245px #fff1df, 564px 377px #fff1df, 721px 595px #fff1df, 1317px 1252px #fff1df, 1803px 1662px #fff1df, 1011px 1957px #fff1df, 273px 1815px #fff1df, 453px 314px #fff1df, 922px 1707px #fff1df, 556px 1712px #fff1df, 101px 1031px #fff1df, 738px 1945px #fff1df, 897px 193px #fff1df, 1233px 541px #fff1df, 937px 1194px #fff1df, 1550px 510px #fff1df, 1985px 1132px #fff1df, 100px 134px #fff1df, 1577px 902px #fff1df, 424px 1700px #fff1df, 533px 1747px #fff1df, 1240px 1459px #fff1df, 396px 1039px #fff1df, 1814px 1187px #fff1df, 1868px 39px #fff1df, 1795px 791px #fff1df, 1248px 738px #fff1df, 1346px 864px #fff1df, 839px 1943px #fff1df, 1751px 228px #fff1df, 1779px 1758px #fff1df, 163px 1675px #fff1df, 766px 1246px #fff1df, 806px 68px #fff1df, 1957px 1458px #fff1df, 789px 1373px #fff1df, 1228px 858px #fff1df, 1405px 455px #fff1df, 1386px 751px #fff1df, 669px 467px #fff1df, 1301px 1186px #fff1df, 1279px 1043px #fff1df, 828px 1105px #fff1df, 1649px 1957px #fff1df, 1669px 1882px #fff1df, 1716px 1051px #fff1df, 1799px 1766px #fff1df, 916px 721px #fff1df, 1110px 800px #fff1df, 1617px 1789px #fff1df, 500px 214px #fff1df, 403px 1707px #fff1df, 969px 1103px #fff1df, 985px 160px #fff1df, 708px 1202px #fff1df, 55px 412px #fff1df, 1139px 60px #fff1df, 1570px 1958px #fff1df, 408px 295px #fff1df, 1581px 1249px #fff1df, 765px 1374px #fff1df, 51px 523px #fff1df, 1822px 1710px #fff1df, 336px 693px #fff1df, 802px 203px #fff1df, 672px 1748px #fff1df, 1365px 940px #fff1df, 1891px 1451px #fff1df, 710px 876px #fff1df, 1303px 1230px #fff1df, 1633px 1553px #fff1df, 1465px 1644px #fff1df, 237px 1891px #fff1df, 1963px 1453px #fff1df, 693px 1060px #fff1df, 244px 448px #fff1df, 105px 1163px #fff1df, 1831px 1322px #fff1df, 396px 1102px #fff1df, 1533px 331px #fff1df, 1699px 1264px #fff1df, 1762px 1254px #fff1df, 356px 194px #fff1df, 728px 1635px #fff1df, 362px 710px #fff1df, 765px 896px #fff1df, 1033px 1067px #fff1df, 695px 508px #fff1df, 667px 1118px #fff1df, 1259px 1261px #fff1df, 1172px 235px #fff1df, 1281px 558px #fff1df, 483px 555px #fff1df, 126px 312px #fff1df, 1329px 1626px #fff1df, 436px 1556px #fff1df, 64px 228px #fff1df, 1357px 1427px #fff1df, 1178px 320px #fff1df, 1957px 1990px #fff1df, 51px 754px #fff1df, 431px 1118px #fff1df, 29px 678px #fff1df, 1051px 13px #fff1df, 1294px 1508px #fff1df, 705px 1062px #fff1df, 774px 1185px #fff1df, 687px 437px #fff1df, 1519px 700px #fff1df, 1295px 1212px #fff1df, 908px 742px #fff1df, 544px 426px #fff1df, 1799px 380px #fff1df, 8px 381px #fff1df, 926px 1523px #fff1df, 1572px 1691px #fff1df, 25px 429px #fff1df, 351px 1943px #fff1df, 365px 287px #fff1df, 1245px 1342px #fff1df, 1948px 272px #fff1df, 476px 1745px #fff1df, 1256px 459px #fff1df, 1232px 851px #fff1df, 219px 834px #fff1df, 1092px 1310px #fff1df, 241px 1970px #fff1df, 1520px 1063px #fff1df, 197px 658px #fff1df, 1002px 1262px #fff1df, 1272px 1781px #fff1df, 11px 1153px #fff1df, 1486px 818px #fff1df, 819px 1642px #fff1df, 1811px 1086px #fff1df, 1399px 581px #fff1df, 430px 490px #fff1df, 306px 496px #fff1df, 1437px 999px #fff1df, 1190px 145px #fff1df, 134px 387px #fff1df, 957px 1676px #fff1df, 688px 1492px #fff1df, 786px 315px #fff1df, 355px 361px #fff1df, 594px 487px #fff1df, 689px 1965px #fff1df, 1870px 1715px #fff1df, 313px 1392px #fff1df, 1689px 1305px #fff1df, 535px 1337px #fff1df, 440px 1229px #fff1df, 1221px 741px #fff1df, 1007px 937px #fff1df, 21px 1736px #fff1df, 864px 1924px #fff1df, 1512px 1606px #fff1df, 1599px 304px #fff1df, 477px 1647px #fff1df, 1352px 1167px #fff1df, 1600px 1136px #fff1df, 809px 1980px #fff1df, 1842px 952px #fff1df, 305px 1343px #fff1df, 1209px 1194px #fff1df, 91px 901px #fff1df, 1613px 990px #fff1df, 180px 1551px #fff1df, 1982px 1465px #fff1df, 1490px 149px #fff1df, 1490px 802px #fff1df, 988px 1053px #fff1df, 1881px 1330px #fff1df, 1356px 1063px #fff1df, 1411px 138px #fff1df, 1798px 546px #fff1df, 1761px 1016px #fff1df, 140px 15px #fff1df, 1657px 1992px #fff1df, 1749px 1347px #fff1df, 765px 248px #fff1df, 1332px 262px #fff1df, 1627px 960px #fff1df, 295px 1038px #fff1df, 734px 1442px #fff1df, 525px 413px #fff1df, 1581px 1925px #fff1df, 17px 1511px #fff1df, 849px 1445px #fff1df, 327px 150px #fff1df, 646px 1276px #fff1df, 473px 539px #fff1df, 902px 504px #fff1df, 596px 318px #fff1df, 1274px 612px #fff1df, 595px 1522px #fff1df, 1764px 39px #fff1df, 1718px 221px #fff1df, 1050px 1264px #fff1df, 932px 1255px #fff1df, 430px 249px #fff1df, 1121px 1894px #fff1df, 1276px 730px #fff1df, 832px 1926px #fff1df, 168px 1970px #fff1df, 1881px 1397px #fff1df, 497px 57px #fff1df, 650px 989px #fff1df, 1794px 793px #fff1df, 1313px 769px #fff1df, 674px 806px #fff1df, 225px 77px #fff1df, 1040px 765px #fff1df, 1686px 1640px #fff1df, 507px 1413px #fff1df, 1904px 1387px #fff1df, 1230px 541px #fff1df, 1591px 547px #fff1df, 293px 1099px #fff1df, 1375px 1658px #fff1df, 966px 1834px #fff1df, 1869px 391px #fff1df, 631px 1711px #fff1df, 277px 561px #fff1df, 434px 1199px #fff1df, 1840px 1887px #fff1df, 660px 1903px #fff1df, 1413px 115px #fff1df, 677px 754px #fff1df, 568px 1481px #fff1df, 1813px 451px #fff1df, 388px 751px #fff1df, 68px 820px #fff1df, 440px 801px #fff1df, 1366px 795px #fff1df, 1215px 855px #fff1df, 1503px 754px #fff1df, 283px 1219px #fff1df, 976px 1784px #fff1df, 1892px 1348px #fff1df, 1014px 1961px #fff1df, 763px 306px #fff1df, 1135px 1629px #fff1df, 388px 1540px #fff1df, 814px 850px #fff1df, 1245px 566px #fff1df, 1328px 323px #fff1df, 1527px 632px #fff1df, 429px 1819px #fff1df, 197px 300px #fff1df, 289px 1276px #fff1df, 1313px 110px #fff1df, 1888px 1792px #fff1df, 984px 325px #fff1df, 885px 1889px #fff1df, 1885px 137px #fff1df, 1013px 68px #fff1df, 1328px 791px #fff1df, 1734px 1754px #fff1df, 396px 611px #fff1df, 779px 1017px #fff1df, 548px 1786px #fff1df, 952px 1346px #fff1df, 1245px 1354px #fff1df, 1023px 892px #fff1df, 712px 82px #fff1df, 1612px 225px #fff1df, 678px 1991px #fff1df, 1025px 19px #fff1df, 1234px 1169px #fff1df, 1257px 985px #fff1df, 166px 951px #fff1df, 926px 1161px #fff1df, 1663px 1616px #fff1df, 929px 1530px #fff1df, 1226px 1535px #fff1df, 628px 1337px #fff1df, 429px 1323px #fff1df, 1754px 1354px #fff1df, 548px 206px #fff1df, 875px 518px #fff1df, 226px 1001px #fff1df, 1544px 466px #fff1df, 971px 1986px #fff1df, 778px 1888px #fff1df, 1040px 1978px #fff1df, 1847px 1945px #fff1df, 568px 659px #fff1df, 194px 442px #fff1df, 1013px 518px #fff1df, 1670px 569px #fff1df, 1677px 1631px #fff1df, 1897px 1548px #fff1df, 1108px 1899px #fff1df, 770px 1438px #fff1df, 1854px 149px #fff1df, 1092px 1811px #fff1df, 928px 1428px #fff1df, 849px 1744px #fff1df, 131px 1299px #fff1df, 523px 1714px #fff1df, 151px 501px #fff1df, 1088px 905px #fff1df, 610px 57px #fff1df, 1846px 1006px #fff1df, 1809px 243px #fff1df, 1091px 1912px #fff1df, 1159px 1921px #fff1df, 1594px 986px #fff1df, 989px 1926px #fff1df, 1563px 358px #fff1df, 13px 907px #fff1df, 697px 984px #fff1df, 1415px 197px #fff1df, 1448px 1868px #fff1df, 63px 192px #fff1df, 1016px 1425px #fff1df, 326px 1882px #fff1df, 1428px 429px #fff1df, 1391px 1909px #fff1df, 363px 1334px #fff1df, 1287px 163px #fff1df, 1860px 58px #fff1df, 1492px 1024px #fff1df, 1896px 558px #fff1df, 247px 1247px #fff1df, 1396px 899px #fff1df, 1542px 973px #fff1df, 430px 310px #fff1df, 1628px 958px #fff1df, 150px 119px #fff1df, 310px 1869px #fff1df, 202px 1629px #fff1df, 960px 1836px #fff1df, 1846px 1599px #fff1df, 1535px 1709px #fff1df, 1586px 1617px #fff1df, 1359px 1836px #fff1df, 1254px 1766px #fff1df, 678px 1015px #fff1df, 1523px 900px #fff1df, 1615px 1891px #fff1df, 384px 947px #fff1df, 64px 1743px #fff1df, 1087px 1417px #fff1df, 1535px 580px #fff1df, 1326px 1754px #fff1df, 706px 423px #fff1df, 1656px 1011px #fff1df, 373px 737px #fff1df, 1402px 704px #fff1df, 164px 1693px #fff1df, 1505px 1320px #fff1df, 841px 1755px #fff1df, 45px 821px #fff1df, 91px 990px #fff1df, 1016px 151px #fff1df, 1525px 1093px #fff1df, 1202px 1976px #fff1df, 20px 1392px #fff1df, 202px 1131px #fff1df, 1105px 902px #fff1df, 1778px 239px #fff1df, 352px 1139px #fff1df, 462px 729px #fff1df, 352px 149px #fff1df, 481px 1036px #fff1df, 1183px 604px #fff1df, 423px 978px #fff1df, 1160px 953px #fff1df, 984px 928px #fff1df, 350px 1261px #fff1df, 1986px 1642px #fff1df, 221px 658px #fff1df, 1696px 1263px #fff1df, 1863px 1534px #fff1df, 344px 1198px #fff1df, 999px 662px #fff1df, 455px 1457px #fff1df, 805px 1076px #fff1df, 64px 604px #fff1df, 1871px 247px #fff1df, 1323px 1698px #fff1df, 1277px 5px #fff1df, 1800px 1775px #fff1df, 908px 856px #fff1df, 1262px 1602px #fff1df, 69px 1471px #fff1df, 1510px 111px #fff1df, 1176px 688px #fff1df, 928px 1662px #fff1df, 950px 1027px #fff1df, 480px 1479px #fff1df, 742px 1867px #fff1df, 1969px 177px #fff1df, 954px 968px #fff1df, 1472px 109px #fff1df, 92px 593px #fff1df, 1318px 302px #fff1df, 1686px 582px #fff1df, 1331px 1906px #fff1df, 817px 442px #fff1df, 489px 186px #fff1df, 104px 236px #fff1df, 1751px 960px #fff1df, 711px 964px #fff1df, 1087px 637px #fff1df, 929px 1675px #fff1df, 1672px 1236px #fff1df, 906px 1107px #fff1df, 153px 1647px #fff1df, 1959px 515px #fff1df, 1649px 1143px #fff1df, 1742px 1682px #fff1df, 1042px 1610px #fff1df, 1404px 1893px #fff1df, 1328px 1568px #fff1df, 632px 1422px #fff1df, 79px 1863px #fff1df, 45px 621px #fff1df, 904px 1670px #fff1df, 1980px 457px #fff1df, 1514px 1809px #fff1df, 95px 1427px #fff1df, 75px 1922px #fff1df, 106px 447px #fff1df, 1515px 1185px #fff1df, 1543px 1557px #fff1df, 395px 1189px #fff1df, 1065px 1430px #fff1df, 1564px 1979px #fff1df, 1419px 1194px #fff1df, 1035px 791px #fff1df, 1594px 247px #fff1df, 1482px 162px #fff1df, 954px 1189px #fff1df, 1451px 1850px #fff1df, 253px 53px #fff1df, 185px 1687px #fff1df, 432px 1416px #fff1df, 1835px 1190px #fff1df, 1644px 257px #fff1df;
  -webkit-animation: starfall 150s linear infinite;
  -ms-animation: starfall 150s linear infinite;
  animation: starfall 150s linear infinite;
}
header.header .stars-small:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 822px 1932px #fff1df, 1464px 1384px #fff1df, 635px 486px #fff1df, 1082px 1753px #fff1df, 53px 1117px #fff1df, 1334px 141px #fff1df, 1589px 419px #fff1df, 1322px 1729px #fff1df, 308px 1566px #fff1df, 1307px 555px #fff1df, 1482px 1139px #fff1df, 1346px 53px #fff1df, 1894px 1853px #fff1df, 1638px 1551px #fff1df, 1037px 355px #fff1df, 895px 425px #fff1df, 1494px 1787px #fff1df, 272px 1268px #fff1df, 829px 1056px #fff1df, 1054px 317px #fff1df, 1460px 864px #fff1df, 130px 834px #fff1df, 568px 17px #fff1df, 1600px 1985px #fff1df, 1055px 1574px #fff1df, 917px 185px #fff1df, 432px 718px #fff1df, 41px 880px #fff1df, 259px 1420px #fff1df, 843px 163px #fff1df, 583px 842px #fff1df, 466px 1054px #fff1df, 1306px 390px #fff1df, 1097px 415px #fff1df, 1339px 1636px #fff1df, 1171px 1192px #fff1df, 815px 1997px #fff1df, 1386px 382px #fff1df, 1348px 1762px #fff1df, 1176px 735px #fff1df, 633px 1592px #fff1df, 975px 1534px #fff1df, 944px 1081px #fff1df, 1097px 463px #fff1df, 288px 1954px #fff1df, 913px 1706px #fff1df, 1637px 694px #fff1df, 1836px 458px #fff1df, 949px 1131px #fff1df, 1694px 1985px #fff1df, 1323px 1077px #fff1df, 708px 1227px #fff1df, 1375px 1366px #fff1df, 1277px 1973px #fff1df, 1075px 1532px #fff1df, 993px 1687px #fff1df, 1403px 74px #fff1df, 1894px 8px #fff1df, 20px 1069px #fff1df, 713px 679px #fff1df, 1967px 1561px #fff1df, 1613px 1266px #fff1df, 1245px 827px #fff1df, 1500px 1487px #fff1df, 1929px 1000px #fff1df, 201px 432px #fff1df, 165px 1504px #fff1df, 1704px 111px #fff1df, 393px 995px #fff1df, 1810px 498px #fff1df, 897px 1790px #fff1df, 326px 1373px #fff1df, 508px 1736px #fff1df, 249px 1866px #fff1df, 45px 21px #fff1df, 1814px 206px #fff1df, 767px 1148px #fff1df, 902px 776px #fff1df, 824px 1744px #fff1df, 1379px 519px #fff1df, 1478px 500px #fff1df, 970px 1829px #fff1df, 1074px 382px #fff1df, 563px 711px #fff1df, 1412px 914px #fff1df, 187px 812px #fff1df, 1298px 916px #fff1df, 1653px 1288px #fff1df, 338px 1042px #fff1df, 393px 1018px #fff1df, 280px 514px #fff1df, 1342px 1294px #fff1df, 714px 441px #fff1df, 477px 1835px #fff1df, 1572px 1086px #fff1df, 409px 1334px #fff1df, 169px 1419px #fff1df, 46px 1516px #fff1df, 687px 1136px #fff1df, 1032px 313px #fff1df, 171px 534px #fff1df, 1176px 1031px #fff1df, 1273px 22px #fff1df, 1293px 770px #fff1df, 658px 1994px #fff1df, 1535px 698px #fff1df, 730px 1926px #fff1df, 1443px 101px #fff1df, 441px 542px #fff1df, 1125px 50px #fff1df, 1403px 1522px #fff1df, 975px 162px #fff1df, 1886px 1184px #fff1df, 1420px 1606px #fff1df, 44px 425px #fff1df, 82px 228px #fff1df, 477px 1674px #fff1df, 1052px 1256px #fff1df, 818px 1967px #fff1df, 656px 1147px #fff1df, 790px 992px #fff1df, 1550px 1757px #fff1df, 383px 1521px #fff1df, 932px 764px #fff1df, 706px 1172px #fff1df, 922px 1941px #fff1df, 1162px 1935px #fff1df, 160px 1075px #fff1df, 1681px 453px #fff1df, 1580px 836px #fff1df, 276px 1787px #fff1df, 619px 1131px #fff1df, 1034px 516px #fff1df, 1005px 155px #fff1df, 653px 1430px #fff1df, 607px 857px #fff1df, 1946px 1392px #fff1df, 374px 1010px #fff1df, 2000px 422px #fff1df, 1571px 5px #fff1df, 171px 1526px #fff1df, 53px 1564px #fff1df, 1595px 1509px #fff1df, 447px 431px #fff1df, 383px 1007px #fff1df, 698px 1458px #fff1df, 733px 1393px #fff1df, 717px 1489px #fff1df, 510px 1141px #fff1df, 1821px 1201px #fff1df, 247px 482px #fff1df, 1364px 1199px #fff1df, 667px 1273px #fff1df, 1460px 803px #fff1df, 1479px 740px #fff1df, 397px 1895px #fff1df, 1654px 1770px #fff1df, 624px 999px #fff1df, 1108px 1558px #fff1df, 166px 27px #fff1df, 1281px 1160px #fff1df, 243px 1425px #fff1df, 529px 1648px #fff1df, 696px 1115px #fff1df, 1963px 1827px #fff1df, 1330px 1571px #fff1df, 1460px 199px #fff1df, 1890px 385px #fff1df, 824px 471px #fff1df, 1898px 7px #fff1df, 225px 375px #fff1df, 1274px 848px #fff1df, 1491px 2000px #fff1df, 594px 300px #fff1df, 910px 692px #fff1df, 372px 610px #fff1df, 1352px 180px #fff1df, 584px 42px #fff1df, 312px 1542px #fff1df, 1512px 1167px #fff1df, 1543px 1451px #fff1df, 892px 1947px #fff1df, 1048px 1777px #fff1df, 725px 1474px #fff1df, 1678px 1133px #fff1df, 1823px 1215px #fff1df, 1324px 1260px #fff1df, 1952px 663px #fff1df, 1171px 545px #fff1df, 895px 1143px #fff1df, 1902px 270px #fff1df, 28px 76px #fff1df, 958px 1703px #fff1df, 1939px 1556px #fff1df, 1272px 1826px #fff1df, 1855px 91px #fff1df, 211px 1790px #fff1df, 419px 15px #fff1df, 7px 714px #fff1df, 276px 74px #fff1df, 1810px 5px #fff1df, 742px 1966px #fff1df, 1729px 401px #fff1df, 1963px 1826px #fff1df, 1249px 780px #fff1df, 1088px 1364px #fff1df, 724px 1284px #fff1df, 931px 569px #fff1df, 1895px 1938px #fff1df, 1384px 1143px #fff1df, 1625px 400px #fff1df, 276px 1381px #fff1df, 1424px 111px #fff1df, 1109px 45px #fff1df, 185px 1px #fff1df, 636px 964px #fff1df, 181px 787px #fff1df, 534px 1016px #fff1df, 689px 498px #fff1df, 1426px 155px #fff1df, 637px 1839px #fff1df, 1140px 1848px #fff1df, 1325px 1007px #fff1df, 532px 1071px #fff1df, 121px 991px #fff1df, 1234px 1199px #fff1df, 1054px 995px #fff1df, 358px 1802px #fff1df, 635px 184px #fff1df, 1109px 291px #fff1df, 552px 1375px #fff1df, 303px 372px #fff1df, 368px 1990px #fff1df, 637px 988px #fff1df, 1614px 494px #fff1df, 1925px 1903px #fff1df, 102px 1433px #fff1df, 444px 1761px #fff1df, 666px 1961px #fff1df, 1604px 1799px #fff1df, 1084px 1620px #fff1df, 1863px 1301px #fff1df, 878px 1162px #fff1df, 984px 58px #fff1df, 813px 130px #fff1df, 492px 797px #fff1df, 1530px 910px #fff1df, 563px 1335px #fff1df, 710px 189px #fff1df, 1421px 1828px #fff1df, 846px 1538px #fff1df, 518px 513px #fff1df, 211px 964px #fff1df, 497px 1235px #fff1df, 127px 1124px #fff1df, 1061px 1700px #fff1df, 143px 29px #fff1df, 776px 1750px #fff1df, 1920px 755px #fff1df, 1172px 271px #fff1df, 1306px 1245px #fff1df, 564px 377px #fff1df, 721px 595px #fff1df, 1317px 1252px #fff1df, 1803px 1662px #fff1df, 1011px 1957px #fff1df, 273px 1815px #fff1df, 453px 314px #fff1df, 922px 1707px #fff1df, 556px 1712px #fff1df, 101px 1031px #fff1df, 738px 1945px #fff1df, 897px 193px #fff1df, 1233px 541px #fff1df, 937px 1194px #fff1df, 1550px 510px #fff1df, 1985px 1132px #fff1df, 100px 134px #fff1df, 1577px 902px #fff1df, 424px 1700px #fff1df, 533px 1747px #fff1df, 1240px 1459px #fff1df, 396px 1039px #fff1df, 1814px 1187px #fff1df, 1868px 39px #fff1df, 1795px 791px #fff1df, 1248px 738px #fff1df, 1346px 864px #fff1df, 839px 1943px #fff1df, 1751px 228px #fff1df, 1779px 1758px #fff1df, 163px 1675px #fff1df, 766px 1246px #fff1df, 806px 68px #fff1df, 1957px 1458px #fff1df, 789px 1373px #fff1df, 1228px 858px #fff1df, 1405px 455px #fff1df, 1386px 751px #fff1df, 669px 467px #fff1df, 1301px 1186px #fff1df, 1279px 1043px #fff1df, 828px 1105px #fff1df, 1649px 1957px #fff1df, 1669px 1882px #fff1df, 1716px 1051px #fff1df, 1799px 1766px #fff1df, 916px 721px #fff1df, 1110px 800px #fff1df, 1617px 1789px #fff1df, 500px 214px #fff1df, 403px 1707px #fff1df, 969px 1103px #fff1df, 985px 160px #fff1df, 708px 1202px #fff1df, 55px 412px #fff1df, 1139px 60px #fff1df, 1570px 1958px #fff1df, 408px 295px #fff1df, 1581px 1249px #fff1df, 765px 1374px #fff1df, 51px 523px #fff1df, 1822px 1710px #fff1df, 336px 693px #fff1df, 802px 203px #fff1df, 672px 1748px #fff1df, 1365px 940px #fff1df, 1891px 1451px #fff1df, 710px 876px #fff1df, 1303px 1230px #fff1df, 1633px 1553px #fff1df, 1465px 1644px #fff1df, 237px 1891px #fff1df, 1963px 1453px #fff1df, 693px 1060px #fff1df, 244px 448px #fff1df, 105px 1163px #fff1df, 1831px 1322px #fff1df, 396px 1102px #fff1df, 1533px 331px #fff1df, 1699px 1264px #fff1df, 1762px 1254px #fff1df, 356px 194px #fff1df, 728px 1635px #fff1df, 362px 710px #fff1df, 765px 896px #fff1df, 1033px 1067px #fff1df, 695px 508px #fff1df, 667px 1118px #fff1df, 1259px 1261px #fff1df, 1172px 235px #fff1df, 1281px 558px #fff1df, 483px 555px #fff1df, 126px 312px #fff1df, 1329px 1626px #fff1df, 436px 1556px #fff1df, 64px 228px #fff1df, 1357px 1427px #fff1df, 1178px 320px #fff1df, 1957px 1990px #fff1df, 51px 754px #fff1df, 431px 1118px #fff1df, 29px 678px #fff1df, 1051px 13px #fff1df, 1294px 1508px #fff1df, 705px 1062px #fff1df, 774px 1185px #fff1df, 687px 437px #fff1df, 1519px 700px #fff1df, 1295px 1212px #fff1df, 908px 742px #fff1df, 544px 426px #fff1df, 1799px 380px #fff1df, 8px 381px #fff1df, 926px 1523px #fff1df, 1572px 1691px #fff1df, 25px 429px #fff1df, 351px 1943px #fff1df, 365px 287px #fff1df, 1245px 1342px #fff1df, 1948px 272px #fff1df, 476px 1745px #fff1df, 1256px 459px #fff1df, 1232px 851px #fff1df, 219px 834px #fff1df, 1092px 1310px #fff1df, 241px 1970px #fff1df, 1520px 1063px #fff1df, 197px 658px #fff1df, 1002px 1262px #fff1df, 1272px 1781px #fff1df, 11px 1153px #fff1df, 1486px 818px #fff1df, 819px 1642px #fff1df, 1811px 1086px #fff1df, 1399px 581px #fff1df, 430px 490px #fff1df, 306px 496px #fff1df, 1437px 999px #fff1df, 1190px 145px #fff1df, 134px 387px #fff1df, 957px 1676px #fff1df, 688px 1492px #fff1df, 786px 315px #fff1df, 355px 361px #fff1df, 594px 487px #fff1df, 689px 1965px #fff1df, 1870px 1715px #fff1df, 313px 1392px #fff1df, 1689px 1305px #fff1df, 535px 1337px #fff1df, 440px 1229px #fff1df, 1221px 741px #fff1df, 1007px 937px #fff1df, 21px 1736px #fff1df, 864px 1924px #fff1df, 1512px 1606px #fff1df, 1599px 304px #fff1df, 477px 1647px #fff1df, 1352px 1167px #fff1df, 1600px 1136px #fff1df, 809px 1980px #fff1df, 1842px 952px #fff1df, 305px 1343px #fff1df, 1209px 1194px #fff1df, 91px 901px #fff1df, 1613px 990px #fff1df, 180px 1551px #fff1df, 1982px 1465px #fff1df, 1490px 149px #fff1df, 1490px 802px #fff1df, 988px 1053px #fff1df, 1881px 1330px #fff1df, 1356px 1063px #fff1df, 1411px 138px #fff1df, 1798px 546px #fff1df, 1761px 1016px #fff1df, 140px 15px #fff1df, 1657px 1992px #fff1df, 1749px 1347px #fff1df, 765px 248px #fff1df, 1332px 262px #fff1df, 1627px 960px #fff1df, 295px 1038px #fff1df, 734px 1442px #fff1df, 525px 413px #fff1df, 1581px 1925px #fff1df, 17px 1511px #fff1df, 849px 1445px #fff1df, 327px 150px #fff1df, 646px 1276px #fff1df, 473px 539px #fff1df, 902px 504px #fff1df, 596px 318px #fff1df, 1274px 612px #fff1df, 595px 1522px #fff1df, 1764px 39px #fff1df, 1718px 221px #fff1df, 1050px 1264px #fff1df, 932px 1255px #fff1df, 430px 249px #fff1df, 1121px 1894px #fff1df, 1276px 730px #fff1df, 832px 1926px #fff1df, 168px 1970px #fff1df, 1881px 1397px #fff1df, 497px 57px #fff1df, 650px 989px #fff1df, 1794px 793px #fff1df, 1313px 769px #fff1df, 674px 806px #fff1df, 225px 77px #fff1df, 1040px 765px #fff1df, 1686px 1640px #fff1df, 507px 1413px #fff1df, 1904px 1387px #fff1df, 1230px 541px #fff1df, 1591px 547px #fff1df, 293px 1099px #fff1df, 1375px 1658px #fff1df, 966px 1834px #fff1df, 1869px 391px #fff1df, 631px 1711px #fff1df, 277px 561px #fff1df, 434px 1199px #fff1df, 1840px 1887px #fff1df, 660px 1903px #fff1df, 1413px 115px #fff1df, 677px 754px #fff1df, 568px 1481px #fff1df, 1813px 451px #fff1df, 388px 751px #fff1df, 68px 820px #fff1df, 440px 801px #fff1df, 1366px 795px #fff1df, 1215px 855px #fff1df, 1503px 754px #fff1df, 283px 1219px #fff1df, 976px 1784px #fff1df, 1892px 1348px #fff1df, 1014px 1961px #fff1df, 763px 306px #fff1df, 1135px 1629px #fff1df, 388px 1540px #fff1df, 814px 850px #fff1df, 1245px 566px #fff1df, 1328px 323px #fff1df, 1527px 632px #fff1df, 429px 1819px #fff1df, 197px 300px #fff1df, 289px 1276px #fff1df, 1313px 110px #fff1df, 1888px 1792px #fff1df, 984px 325px #fff1df, 885px 1889px #fff1df, 1885px 137px #fff1df, 1013px 68px #fff1df, 1328px 791px #fff1df, 1734px 1754px #fff1df, 396px 611px #fff1df, 779px 1017px #fff1df, 548px 1786px #fff1df, 952px 1346px #fff1df, 1245px 1354px #fff1df, 1023px 892px #fff1df, 712px 82px #fff1df, 1612px 225px #fff1df, 678px 1991px #fff1df, 1025px 19px #fff1df, 1234px 1169px #fff1df, 1257px 985px #fff1df, 166px 951px #fff1df, 926px 1161px #fff1df, 1663px 1616px #fff1df, 929px 1530px #fff1df, 1226px 1535px #fff1df, 628px 1337px #fff1df, 429px 1323px #fff1df, 1754px 1354px #fff1df, 548px 206px #fff1df, 875px 518px #fff1df, 226px 1001px #fff1df, 1544px 466px #fff1df, 971px 1986px #fff1df, 778px 1888px #fff1df, 1040px 1978px #fff1df, 1847px 1945px #fff1df, 568px 659px #fff1df, 194px 442px #fff1df, 1013px 518px #fff1df, 1670px 569px #fff1df, 1677px 1631px #fff1df, 1897px 1548px #fff1df, 1108px 1899px #fff1df, 770px 1438px #fff1df, 1854px 149px #fff1df, 1092px 1811px #fff1df, 928px 1428px #fff1df, 849px 1744px #fff1df, 131px 1299px #fff1df, 523px 1714px #fff1df, 151px 501px #fff1df, 1088px 905px #fff1df, 610px 57px #fff1df, 1846px 1006px #fff1df, 1809px 243px #fff1df, 1091px 1912px #fff1df, 1159px 1921px #fff1df, 1594px 986px #fff1df, 989px 1926px #fff1df, 1563px 358px #fff1df, 13px 907px #fff1df, 697px 984px #fff1df, 1415px 197px #fff1df, 1448px 1868px #fff1df, 63px 192px #fff1df, 1016px 1425px #fff1df, 326px 1882px #fff1df, 1428px 429px #fff1df, 1391px 1909px #fff1df, 363px 1334px #fff1df, 1287px 163px #fff1df, 1860px 58px #fff1df, 1492px 1024px #fff1df, 1896px 558px #fff1df, 247px 1247px #fff1df, 1396px 899px #fff1df, 1542px 973px #fff1df, 430px 310px #fff1df, 1628px 958px #fff1df, 150px 119px #fff1df, 310px 1869px #fff1df, 202px 1629px #fff1df, 960px 1836px #fff1df, 1846px 1599px #fff1df, 1535px 1709px #fff1df, 1586px 1617px #fff1df, 1359px 1836px #fff1df, 1254px 1766px #fff1df, 678px 1015px #fff1df, 1523px 900px #fff1df, 1615px 1891px #fff1df, 384px 947px #fff1df, 64px 1743px #fff1df, 1087px 1417px #fff1df, 1535px 580px #fff1df, 1326px 1754px #fff1df, 706px 423px #fff1df, 1656px 1011px #fff1df, 373px 737px #fff1df, 1402px 704px #fff1df, 164px 1693px #fff1df, 1505px 1320px #fff1df, 841px 1755px #fff1df, 45px 821px #fff1df, 91px 990px #fff1df, 1016px 151px #fff1df, 1525px 1093px #fff1df, 1202px 1976px #fff1df, 20px 1392px #fff1df, 202px 1131px #fff1df, 1105px 902px #fff1df, 1778px 239px #fff1df, 352px 1139px #fff1df, 462px 729px #fff1df, 352px 149px #fff1df, 481px 1036px #fff1df, 1183px 604px #fff1df, 423px 978px #fff1df, 1160px 953px #fff1df, 984px 928px #fff1df, 350px 1261px #fff1df, 1986px 1642px #fff1df, 221px 658px #fff1df, 1696px 1263px #fff1df, 1863px 1534px #fff1df, 344px 1198px #fff1df, 999px 662px #fff1df, 455px 1457px #fff1df, 805px 1076px #fff1df, 64px 604px #fff1df, 1871px 247px #fff1df, 1323px 1698px #fff1df, 1277px 5px #fff1df, 1800px 1775px #fff1df, 908px 856px #fff1df, 1262px 1602px #fff1df, 69px 1471px #fff1df, 1510px 111px #fff1df, 1176px 688px #fff1df, 928px 1662px #fff1df, 950px 1027px #fff1df, 480px 1479px #fff1df, 742px 1867px #fff1df, 1969px 177px #fff1df, 954px 968px #fff1df, 1472px 109px #fff1df, 92px 593px #fff1df, 1318px 302px #fff1df, 1686px 582px #fff1df, 1331px 1906px #fff1df, 817px 442px #fff1df, 489px 186px #fff1df, 104px 236px #fff1df, 1751px 960px #fff1df, 711px 964px #fff1df, 1087px 637px #fff1df, 929px 1675px #fff1df, 1672px 1236px #fff1df, 906px 1107px #fff1df, 153px 1647px #fff1df, 1959px 515px #fff1df, 1649px 1143px #fff1df, 1742px 1682px #fff1df, 1042px 1610px #fff1df, 1404px 1893px #fff1df, 1328px 1568px #fff1df, 632px 1422px #fff1df, 79px 1863px #fff1df, 45px 621px #fff1df, 904px 1670px #fff1df, 1980px 457px #fff1df, 1514px 1809px #fff1df, 95px 1427px #fff1df, 75px 1922px #fff1df, 106px 447px #fff1df, 1515px 1185px #fff1df, 1543px 1557px #fff1df, 395px 1189px #fff1df, 1065px 1430px #fff1df, 1564px 1979px #fff1df, 1419px 1194px #fff1df, 1035px 791px #fff1df, 1594px 247px #fff1df, 1482px 162px #fff1df, 954px 1189px #fff1df, 1451px 1850px #fff1df, 253px 53px #fff1df, 185px 1687px #fff1df, 432px 1416px #fff1df, 1835px 1190px #fff1df, 1644px 257px #fff1df;
}
header.header .stars-medium {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1246px 294px #fff1df, 1192px 1874px #fff1df, 31px 1924px #fff1df, 1832px 1840px #fff1df, 336px 1281px #fff1df, 72px 545px #fff1df, 872px 1642px #fff1df, 844px 1056px #fff1df, 865px 324px #fff1df, 89px 1575px #fff1df, 916px 1735px #fff1df, 330px 1020px #fff1df, 0px 1491px #fff1df, 460px 1787px #fff1df, 821px 24px #fff1df, 164px 1492px #fff1df, 302px 1257px #fff1df, 406px 416px #fff1df, 615px 115px #fff1df, 1287px 1556px #fff1df, 1970px 1104px #fff1df, 133px 1094px #fff1df, 1544px 250px #fff1df, 949px 1025px #fff1df, 1262px 1364px #fff1df, 1041px 1398px #fff1df, 1277px 216px #fff1df, 491px 612px #fff1df, 704px 1488px #fff1df, 1450px 844px #fff1df, 901px 1217px #fff1df, 756px 580px #fff1df, 84px 1361px #fff1df, 631px 591px #fff1df, 840px 1798px #fff1df, 1069px 1579px #fff1df, 568px 927px #fff1df, 711px 1036px #fff1df, 83px 1552px #fff1df, 630px 1079px #fff1df, 950px 76px #fff1df, 1269px 1364px #fff1df, 1558px 60px #fff1df, 1639px 64px #fff1df, 997px 286px #fff1df, 354px 1909px #fff1df, 1002px 1300px #fff1df, 433px 311px #fff1df, 181px 1683px #fff1df, 1336px 1146px #fff1df, 14px 87px #fff1df, 1579px 149px #fff1df, 962px 1756px #fff1df, 149px 1242px #fff1df, 1443px 1724px #fff1df, 1129px 778px #fff1df, 812px 20px #fff1df, 1347px 749px #fff1df, 915px 1478px #fff1df, 1533px 1884px #fff1df, 203px 963px #fff1df, 1573px 682px #fff1df, 1928px 1392px #fff1df, 777px 483px #fff1df, 1635px 702px #fff1df, 926px 641px #fff1df, 1239px 136px #fff1df, 1304px 762px #fff1df, 938px 269px #fff1df, 666px 654px #fff1df, 859px 1793px #fff1df, 1760px 881px #fff1df, 1940px 796px #fff1df, 747px 1303px #fff1df, 1194px 1512px #fff1df, 931px 1571px #fff1df, 1912px 1116px #fff1df, 849px 224px #fff1df, 1457px 1679px #fff1df, 1852px 940px #fff1df, 1432px 703px #fff1df, 236px 1457px #fff1df, 663px 566px #fff1df, 1112px 1755px #fff1df, 1838px 1848px #fff1df, 1890px 153px #fff1df, 427px 1384px #fff1df, 1928px 1862px #fff1df, 1178px 634px #fff1df, 579px 441px #fff1df, 208px 1882px #fff1df, 987px 587px #fff1df, 359px 47px #fff1df, 502px 1231px #fff1df, 466px 1715px #fff1df, 1552px 484px #fff1df, 1648px 780px #fff1df, 180px 1503px #fff1df, 1080px 335px #fff1df, 1456px 755px #fff1df, 1880px 1166px #fff1df, 1624px 1174px #fff1df, 122px 1009px #fff1df, 25px 941px #fff1df, 569px 1061px #fff1df, 338px 1210px #fff1df, 1649px 403px #fff1df, 1914px 1354px #fff1df, 1478px 1752px #fff1df, 1145px 618px #fff1df, 1907px 924px #fff1df, 1878px 32px #fff1df, 1577px 1147px #fff1df, 532px 826px #fff1df, 292px 1659px #fff1df, 1941px 1872px #fff1df, 46px 189px #fff1df, 1429px 1003px #fff1df, 1048px 392px #fff1df, 1084px 1035px #fff1df, 626px 1739px #fff1df, 1452px 185px #fff1df, 1836px 176px #fff1df, 273px 530px #fff1df, 528px 1371px #fff1df, 1374px 263px #fff1df, 1993px 550px #fff1df, 1930px 122px #fff1df, 1633px 917px #fff1df, 1596px 1688px #fff1df, 1979px 901px #fff1df, 782px 1420px #fff1df, 748px 163px #fff1df, 744px 525px #fff1df, 181px 1974px #fff1df, 705px 1616px #fff1df, 1542px 1774px #fff1df, 1833px 1364px #fff1df, 599px 966px #fff1df, 53px 571px #fff1df, 218px 1378px #fff1df, 667px 1876px #fff1df, 1671px 1581px #fff1df, 1632px 1527px #fff1df, 112px 1589px #fff1df, 936px 762px #fff1df, 503px 1838px #fff1df, 1301px 463px #fff1df, 763px 1101px #fff1df, 825px 923px #fff1df, 1560px 737px #fff1df, 564px 1872px #fff1df, 1052px 947px #fff1df, 540px 1904px #fff1df, 1610px 904px #fff1df, 1984px 185px #fff1df, 1196px 385px #fff1df, 1698px 1949px #fff1df, 1101px 78px #fff1df, 1601px 1697px #fff1df, 212px 1750px #fff1df, 507px 1578px #fff1df, 1259px 182px #fff1df, 526px 368px #fff1df, 869px 1463px #fff1df, 1715px 1921px #fff1df, 257px 337px #fff1df, 1387px 1528px #fff1df, 1750px 1379px #fff1df, 343px 1267px #fff1df, 1004px 1223px #fff1df, 1993px 1515px #fff1df, 130px 978px #fff1df, 1271px 1579px #fff1df, 581px 711px #fff1df, 489px 1854px #fff1df, 667px 1821px #fff1df, 1069px 51px #fff1df, 959px 1975px #fff1df, 69px 545px #fff1df, 1065px 322px #fff1df, 1711px 1811px #fff1df, 167px 1208px #fff1df, 1628px 1074px #fff1df, 663px 873px #fff1df, 270px 1195px #fff1df, 468px 1904px #fff1df, 555px 715px #fff1df, 831px 1423px #fff1df, 1288px 1481px #fff1df, 1075px 1771px #fff1df, 361px 393px #fff1df, 641px 1096px #fff1df, 1000px 22px #fff1df, 1029px 1118px #fff1df, 1789px 1573px #fff1df, 1835px 214px #fff1df, 1381px 296px #fff1df, 1418px 1025px #fff1df, 642px 179px #fff1df, 1856px 1069px #fff1df, 1590px 393px #fff1df;
  -webkit-animation: starfall 100s linear infinite;
  -ms-animation: starfall 100s linear infinite;
  animation: starfall 100s linear infinite;
}
header.header .stars-medium:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1246px 294px #fff1df, 1192px 1874px #fff1df, 31px 1924px #fff1df, 1832px 1840px #fff1df, 336px 1281px #fff1df, 72px 545px #fff1df, 872px 1642px #fff1df, 844px 1056px #fff1df, 865px 324px #fff1df, 89px 1575px #fff1df, 916px 1735px #fff1df, 330px 1020px #fff1df, 0px 1491px #fff1df, 460px 1787px #fff1df, 821px 24px #fff1df, 164px 1492px #fff1df, 302px 1257px #fff1df, 406px 416px #fff1df, 615px 115px #fff1df, 1287px 1556px #fff1df, 1970px 1104px #fff1df, 133px 1094px #fff1df, 1544px 250px #fff1df, 949px 1025px #fff1df, 1262px 1364px #fff1df, 1041px 1398px #fff1df, 1277px 216px #fff1df, 491px 612px #fff1df, 704px 1488px #fff1df, 1450px 844px #fff1df, 901px 1217px #fff1df, 756px 580px #fff1df, 84px 1361px #fff1df, 631px 591px #fff1df, 840px 1798px #fff1df, 1069px 1579px #fff1df, 568px 927px #fff1df, 711px 1036px #fff1df, 83px 1552px #fff1df, 630px 1079px #fff1df, 950px 76px #fff1df, 1269px 1364px #fff1df, 1558px 60px #fff1df, 1639px 64px #fff1df, 997px 286px #fff1df, 354px 1909px #fff1df, 1002px 1300px #fff1df, 433px 311px #fff1df, 181px 1683px #fff1df, 1336px 1146px #fff1df, 14px 87px #fff1df, 1579px 149px #fff1df, 962px 1756px #fff1df, 149px 1242px #fff1df, 1443px 1724px #fff1df, 1129px 778px #fff1df, 812px 20px #fff1df, 1347px 749px #fff1df, 915px 1478px #fff1df, 1533px 1884px #fff1df, 203px 963px #fff1df, 1573px 682px #fff1df, 1928px 1392px #fff1df, 777px 483px #fff1df, 1635px 702px #fff1df, 926px 641px #fff1df, 1239px 136px #fff1df, 1304px 762px #fff1df, 938px 269px #fff1df, 666px 654px #fff1df, 859px 1793px #fff1df, 1760px 881px #fff1df, 1940px 796px #fff1df, 747px 1303px #fff1df, 1194px 1512px #fff1df, 931px 1571px #fff1df, 1912px 1116px #fff1df, 849px 224px #fff1df, 1457px 1679px #fff1df, 1852px 940px #fff1df, 1432px 703px #fff1df, 236px 1457px #fff1df, 663px 566px #fff1df, 1112px 1755px #fff1df, 1838px 1848px #fff1df, 1890px 153px #fff1df, 427px 1384px #fff1df, 1928px 1862px #fff1df, 1178px 634px #fff1df, 579px 441px #fff1df, 208px 1882px #fff1df, 987px 587px #fff1df, 359px 47px #fff1df, 502px 1231px #fff1df, 466px 1715px #fff1df, 1552px 484px #fff1df, 1648px 780px #fff1df, 180px 1503px #fff1df, 1080px 335px #fff1df, 1456px 755px #fff1df, 1880px 1166px #fff1df, 1624px 1174px #fff1df, 122px 1009px #fff1df, 25px 941px #fff1df, 569px 1061px #fff1df, 338px 1210px #fff1df, 1649px 403px #fff1df, 1914px 1354px #fff1df, 1478px 1752px #fff1df, 1145px 618px #fff1df, 1907px 924px #fff1df, 1878px 32px #fff1df, 1577px 1147px #fff1df, 532px 826px #fff1df, 292px 1659px #fff1df, 1941px 1872px #fff1df, 46px 189px #fff1df, 1429px 1003px #fff1df, 1048px 392px #fff1df, 1084px 1035px #fff1df, 626px 1739px #fff1df, 1452px 185px #fff1df, 1836px 176px #fff1df, 273px 530px #fff1df, 528px 1371px #fff1df, 1374px 263px #fff1df, 1993px 550px #fff1df, 1930px 122px #fff1df, 1633px 917px #fff1df, 1596px 1688px #fff1df, 1979px 901px #fff1df, 782px 1420px #fff1df, 748px 163px #fff1df, 744px 525px #fff1df, 181px 1974px #fff1df, 705px 1616px #fff1df, 1542px 1774px #fff1df, 1833px 1364px #fff1df, 599px 966px #fff1df, 53px 571px #fff1df, 218px 1378px #fff1df, 667px 1876px #fff1df, 1671px 1581px #fff1df, 1632px 1527px #fff1df, 112px 1589px #fff1df, 936px 762px #fff1df, 503px 1838px #fff1df, 1301px 463px #fff1df, 763px 1101px #fff1df, 825px 923px #fff1df, 1560px 737px #fff1df, 564px 1872px #fff1df, 1052px 947px #fff1df, 540px 1904px #fff1df, 1610px 904px #fff1df, 1984px 185px #fff1df, 1196px 385px #fff1df, 1698px 1949px #fff1df, 1101px 78px #fff1df, 1601px 1697px #fff1df, 212px 1750px #fff1df, 507px 1578px #fff1df, 1259px 182px #fff1df, 526px 368px #fff1df, 869px 1463px #fff1df, 1715px 1921px #fff1df, 257px 337px #fff1df, 1387px 1528px #fff1df, 1750px 1379px #fff1df, 343px 1267px #fff1df, 1004px 1223px #fff1df, 1993px 1515px #fff1df, 130px 978px #fff1df, 1271px 1579px #fff1df, 581px 711px #fff1df, 489px 1854px #fff1df, 667px 1821px #fff1df, 1069px 51px #fff1df, 959px 1975px #fff1df, 69px 545px #fff1df, 1065px 322px #fff1df, 1711px 1811px #fff1df, 167px 1208px #fff1df, 1628px 1074px #fff1df, 663px 873px #fff1df, 270px 1195px #fff1df, 468px 1904px #fff1df, 555px 715px #fff1df, 831px 1423px #fff1df, 1288px 1481px #fff1df, 1075px 1771px #fff1df, 361px 393px #fff1df, 641px 1096px #fff1df, 1000px 22px #fff1df, 1029px 1118px #fff1df, 1789px 1573px #fff1df, 1835px 214px #fff1df, 1381px 296px #fff1df, 1418px 1025px #fff1df, 642px 179px #fff1df, 1856px 1069px #fff1df, 1590px 393px #fff1df;
}
header.header .stars-big {
  width: 3px;
  height: 3px;
  background: transparent;
  -webkit-animation: starfall 50s linear infinite;
  -ms-animation: starfall 50s linear infinite;
  animation: starfall 50s linear infinite;
  box-shadow: 892px 209px #fff1df, 1519px 170px #fff1df, 1776px 856px #fff1df, 206px 682px #fff1df, 2px 475px #fff1df, 1927px 186px #fff1df, 923px 1935px #fff1df, 7px 648px #fff1df, 497px 589px #fff1df, 706px 1965px #fff1df, 758px 1454px #fff1df, 154px 156px #fff1df, 1339px 1284px #fff1df, 443px 1725px #fff1df, 877px 588px #fff1df, 404px 116px #fff1df, 278px 192px #fff1df, 556px 1386px #fff1df, 1525px 692px #fff1df, 399px 552px #fff1df, 482px 473px #fff1df, 280px 925px #fff1df, 1371px 938px #fff1df, 122px 1914px #fff1df, 804px 1214px #fff1df, 493px 70px #fff1df, 169px 1195px #fff1df, 1744px 1113px #fff1df, 581px 581px #fff1df, 1001px 1776px #fff1df, 342px 798px #fff1df, 1381px 695px #fff1df, 1749px 143px #fff1df, 1808px 115px #fff1df, 321px 1371px #fff1df, 1837px 872px #fff1df, 1267px 1012px #fff1df, 538px 1900px #fff1df, 1249px 1911px #fff1df, 1450px 1376px #fff1df, 543px 940px #fff1df, 638px 1715px #fff1df, 1466px 1212px #fff1df, 1374px 1479px #fff1df, 707px 663px #fff1df, 1752px 827px #fff1df, 525px 799px #fff1df, 858px 1661px #fff1df, 528px 990px #fff1df, 629px 713px #fff1df, 1956px 994px #fff1df, 1790px 219px #fff1df, 817px 21px #fff1df, 774px 1495px #fff1df, 1594px 1135px #fff1df, 266px 865px #fff1df, 1353px 364px #fff1df, 1758px 1340px #fff1df, 1801px 83px #fff1df, 1771px 224px #fff1df, 1859px 380px #fff1df, 1324px 989px #fff1df, 856px 1333px #fff1df, 969px 773px #fff1df, 5px 270px #fff1df, 1597px 1309px #fff1df, 253px 1174px #fff1df, 1370px 224px #fff1df, 1752px 1536px #fff1df, 663px 642px #fff1df, 1290px 1420px #fff1df, 1742px 1566px #fff1df, 769px 1034px #fff1df, 1804px 1623px #fff1df, 1824px 360px #fff1df, 1685px 201px #fff1df, 853px 1386px #fff1df, 808px 113px #fff1df, 1093px 1415px #fff1df, 1853px 1274px #fff1df, 1501px 291px #fff1df, 286px 720px #fff1df, 950px 523px #fff1df, 1332px 1959px #fff1df, 1908px 1513px #fff1df, 89px 882px #fff1df, 380px 1142px #fff1df, 605px 814px #fff1df, 1849px 419px #fff1df, 552px 627px #fff1df, 1497px 636px #fff1df, 448px 1975px #fff1df, 485px 1664px #fff1df, 1964px 65px #fff1df, 1726px 1727px #fff1df, 1901px 1661px #fff1df, 958px 1549px #fff1df, 273px 1384px #fff1df, 72px 1684px #fff1df, 684px 1922px #fff1df, 791px 640px #fff1df, 1041px 455px #fff1df;
}
header.header .stars-big:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 892px 209px #fff1df, 1519px 170px #fff1df, 1776px 856px #fff1df, 206px 682px #fff1df, 2px 475px #fff1df, 1927px 186px #fff1df, 923px 1935px #fff1df, 7px 648px #fff1df, 497px 589px #fff1df, 706px 1965px #fff1df, 758px 1454px #fff1df, 154px 156px #fff1df, 1339px 1284px #fff1df, 443px 1725px #fff1df, 877px 588px #fff1df, 404px 116px #fff1df, 278px 192px #fff1df, 556px 1386px #fff1df, 1525px 692px #fff1df, 399px 552px #fff1df, 482px 473px #fff1df, 280px 925px #fff1df, 1371px 938px #fff1df, 122px 1914px #fff1df, 804px 1214px #fff1df, 493px 70px #fff1df, 169px 1195px #fff1df, 1744px 1113px #fff1df, 581px 581px #fff1df, 1001px 1776px #fff1df, 342px 798px #fff1df, 1381px 695px #fff1df, 1749px 143px #fff1df, 1808px 115px #fff1df, 321px 1371px #fff1df, 1837px 872px #fff1df, 1267px 1012px #fff1df, 538px 1900px #fff1df, 1249px 1911px #fff1df, 1450px 1376px #fff1df, 543px 940px #fff1df, 638px 1715px #fff1df, 1466px 1212px #fff1df, 1374px 1479px #fff1df, 707px 663px #fff1df, 1752px 827px #fff1df, 525px 799px #fff1df, 858px 1661px #fff1df, 528px 990px #fff1df, 629px 713px #fff1df, 1956px 994px #fff1df, 1790px 219px #fff1df, 817px 21px #fff1df, 774px 1495px #fff1df, 1594px 1135px #fff1df, 266px 865px #fff1df, 1353px 364px #fff1df, 1758px 1340px #fff1df, 1801px 83px #fff1df, 1771px 224px #fff1df, 1859px 380px #fff1df, 1324px 989px #fff1df, 856px 1333px #fff1df, 969px 773px #fff1df, 5px 270px #fff1df, 1597px 1309px #fff1df, 253px 1174px #fff1df, 1370px 224px #fff1df, 1752px 1536px #fff1df, 663px 642px #fff1df, 1290px 1420px #fff1df, 1742px 1566px #fff1df, 769px 1034px #fff1df, 1804px 1623px #fff1df, 1824px 360px #fff1df, 1685px 201px #fff1df, 853px 1386px #fff1df, 808px 113px #fff1df, 1093px 1415px #fff1df, 1853px 1274px #fff1df, 1501px 291px #fff1df, 286px 720px #fff1df, 950px 523px #fff1df, 1332px 1959px #fff1df, 1908px 1513px #fff1df, 89px 882px #fff1df, 380px 1142px #fff1df, 605px 814px #fff1df, 1849px 419px #fff1df, 552px 627px #fff1df, 1497px 636px #fff1df, 448px 1975px #fff1df, 485px 1664px #fff1df, 1964px 65px #fff1df, 1726px 1727px #fff1df, 1901px 1661px #fff1df, 958px 1549px #fff1df, 273px 1384px #fff1df, 72px 1684px #fff1df, 684px 1922px #fff1df, 791px 640px #fff1df, 1041px 455px #fff1df;
}
header.header .stars-big:after {
  content: " ";
  width: 3px;
  height: 3px;
  background: #fff;
}
header.header .header-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%) scale(0.5);
  -ms-transform: translateY(-50%) scale(0.5);
  transform: translateY(-50%) scale(0.5);
  z-index: 5;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
header.header .header-bottom.visible {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
  -webkit-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
}
header.header .header-bottom img {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  border: 3px solid #fff;
}
header.header.minimized .title {
  margin-left: 110px;
  color: #000;
  font-size: 0.3em;
}
header.header.minimized .title h3 {
  display: none;
}
header.header.minimized .header-bottom {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 50%;
}
header.header.minimized .header-bottom img {
  width: 75px;
  height: 75px;
  border: 2px solid #fff;
  margin-left: 25px;
}
.footer {
  text-align: center;
  margin: 60px;
  padding-bottom: 20px;
}
.main {
  padding-top: 120px;
  height: 100%;
}
.main .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.contact {
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 85%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.contact h1 {
  font-size: 48px;
  margin-bottom: 10px;
}
.contact ul {
  margin-top: 20px;
}
.contact ul li {
  padding: 10px;
  text-align: center;
}
.contact ul li a {
  text-align: center;
  font-size: 28px;
  margin-left: 10px;
}
.contact ul li span {
  font-size: 28px;
  color: #c8c8c8;
  margin-left: 10px;
}

.posts {
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 85%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.posts h1 {
  font-size: 42px;
  color: #000;
  margin-bottom: 10px;
  font-weight: bold;
}
.posts h2.section-name {
  font-size: 32px;
  font-weight: bold;
}
.posts h3 {
  font-size: 28px;
}
.posts .blog-section {
  width: 500px;
  padding: 10px;
  margin-bottom: 80px;
}
.posts .blog-section .blog-post-date {
  color: #888;
  font-size: 20px;
  margin-right: 7px;
}
.posts .blog-section .blog-post a {
  font-size: 20px;
}
.post {
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.post h1 {
  font-size: 42px;
  color: #000;
  margin-bottom: 10px;
  font-weight: bold;
}
.post h2 {
  font-size: 32px;
  color: #000;
  margin-bottom: 10px;
  font-weight: bold;
}
.post h3 {
  font-size: 24px;
  color: #000;
}
.post h4 {
  font-size: 20px;
  color: #000;
}
.post p {
  font-size: 18px;
}



/*# sourceMappingURL=app.css.map*/