.about header.content-header .title {
  margin: auto;
  text-align: center;
  color: #000;
  z-index: 5;
  -webkit-transition: color 0.8s ease;
  transition: color 0.8s ease;
}
.about header.content-header .title h1 {
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 5px;
}
.about header.content-header .title h3 {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: 300;
  color: #404040;
}
.about .about-paragraph {
  border-top: 1px solid #c8c8c8;
  margin: 100px auto 20px auto;
  max-width: 600px;
  font-size: 20px;
}
.about .about-paragraph p {
  margin: 20px 0;
  line-height: 26px;
}
.about .about-paragraph strong {
  font-weight: bold;
}
.about .reviews {
  padding: 0 14%;
  margin: 100px auto 100px auto;
}
.about .reviews ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.about .reviews li {
  display: inline-block;
  border-right: 3px solid #888;
  padding: 10px 20px;
  max-width: 450px;
  margin: 10px;
}
.about .reviews li p {
  color: #404040;
}
.about .reviews li p:before {
  color: #888;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}
.about .reviews li .reviewer {
  margin-top: 15px;
  float: right;
}
.about .reviews li .reviewer strong {
  font-weight: 600;
}
.about .reviews li .reviewer a {
  color: #c05b4d;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.app {
  font-family: 'Raleway';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotateRecursive {
  from {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes starfall {
  from {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
}
@-webkit-keyframes sideSpacer {
  from {
    height: 300px;
  }
  to {
    height: 0;
  }
}
a {
  color: #c05b4d;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.spacer {
  height: 0;
}
.spacer.minimized {
  height: 0;
  -webkit-animation: sideSpacer 0.8s ease 1;
  -ms-animation: sideSpacer 0.8s ease 1;
  animation: sideSpacer 0.8s ease 1;
}
header.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 300px;
  background: -webkit-radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
  background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
  -webkit-transition: height 0.8s ease, background 0.8s ease;
  transition: height 0.8s ease, background 0.8s ease;
}
header.header.minimized {
  height: 38px;
  position: fixed;
  left: 0;
  right: 0;
  -webkit-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background: -webkit-radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
  background: -webkit-radial-gradient(top, ellipse, #1b2735 0%, #090a0f 100%);
  background: radial-gradient(ellipse at top, #1b2735 0%, #090a0f 100%);
}
header.header.minimized .header-top {
  -webkit-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
header.header.minimized .clouds,
header.header.minimized .stars {
  height: 38px;
  overflow: hidden;
}
header.header .header-top {
  position: fixed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #000;
  padding: 10px;
  z-index: 5;
  background: rgba(255,255,255,0.7);
  -webkit-transition: background 0.8s ease;
  transition: background 0.8s ease;
}
header.header .header-top .nav {
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
header.header .header-top .nav ul {
  text-transform: uppercase;
}
header.header .header-top .nav ul li {
  display: inline-block;
  padding-right: 20px;
}
header.header .header-top .nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
header.header .header-top .nav ul li a.active {
  color: #fff;
}
header.header .header-top .nav ul li a.active:hover {
  text-shadow: none;
}
header.header .header-top .nav ul li a:hover {
  text-shadow: 0 0px 10px #fff;
}
header.header .title {
  margin: auto;
  text-align: center;
  color: #fff;
  z-index: 5;
  -webkit-transition: color 0.8s ease-in;
  transition: color 0.8s ease-in;
}
header.header .title h1 {
  font-size: 4em;
  font-weight: 300;
  letter-spacing: 5px;
  text-shadow: 0 0px 15px rgba(59,225,255,0.8);
  -webkit-transition: color 0.8s ease-in;
  transition: color 0.8s ease-in;
}
header.header .title h3 {
  font-size: 1.5em;
  font-weight: 300;
  text-shadow: 0 0px 15px rgba(59,225,255,0.8);
  -webkit-transition: color 0.8s ease-in;
  transition: color 0.8s ease-in;
}
header.header .clouds,
header.header .stars {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  height: 300px;
  -webkit-transition: height 0.8s ease;
  transition: height 0.8s ease;
}
header.header .clouds .cloud,
header.header .stars .cloud {
  pointer-events: none;
  position: absolute;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
header.header .clouds .cloud:nth-of-type(1),
header.header .stars .cloud:nth-of-type(1) {
  left: -140px;
  top: -50px;
  height: 600px;
  -webkit-animation: rotate 200s linear infinite;
  -ms-animation: rotate 200s linear infinite;
  animation: rotate 200s linear infinite;
}
header.header .clouds .cloud:nth-of-type(2),
header.header .stars .cloud:nth-of-type(2) {
  left: 12%;
  top: -40px;
  height: 600px;
  -webkit-animation: rotate 140s linear infinite;
  -ms-animation: rotate 140s linear infinite;
  animation: rotate 140s linear infinite;
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
header.header .clouds .cloud:nth-of-type(3),
header.header .stars .cloud:nth-of-type(3) {
  left: 14%;
  top: -20px;
  height: 500px;
  -webkit-animation: rotate 100s linear infinite;
  -ms-animation: rotate 100s linear infinite;
  animation: rotate 100s linear infinite;
}
header.header .clouds .cloud:nth-of-type(4),
header.header .stars .cloud:nth-of-type(4) {
  left: 50%;
  top: 10px;
  height: 600px;
  -webkit-animation: rotate 100s linear infinite;
  -ms-animation: rotate 100s linear infinite;
  animation: rotate 100s linear infinite;
}
header.header .clouds .cloud:nth-of-type(5),
header.header .stars .cloud:nth-of-type(5) {
  left: 80%;
  top: -30px;
  height: 650px;
  -webkit-animation: rotate 130s linear infinite;
  -ms-animation: rotate 130s linear infinite;
  animation: rotate 130s linear infinite;
}
header.header .stars-small {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1808px 1982px #fff1df, 1166px 343px #fff1df, 602px 1851px #fff1df, 1px 173px #fff1df, 93px 450px #fff1df, 1561px 1480px #fff1df, 657px 255px #fff1df, 1604px 1430px #fff1df, 636px 1647px #fff1df, 1439px 645px #fff1df, 531px 755px #fff1df, 919px 1035px #fff1df, 1455px 821px #fff1df, 66px 887px #fff1df, 1635px 1657px #fff1df, 1800px 841px #fff1df, 354px 524px #fff1df, 1241px 1145px #fff1df, 663px 619px #fff1df, 963px 1646px #fff1df, 344px 210px #fff1df, 616px 1774px #fff1df, 733px 1814px #fff1df, 1112px 885px #fff1df, 478px 865px #fff1df, 1691px 1534px #fff1df, 806px 1957px #fff1df, 318px 1095px #fff1df, 882px 467px #fff1df, 1409px 1634px #fff1df, 1587px 824px #fff1df, 1364px 838px #fff1df, 49px 1527px #fff1df, 1634px 1293px #fff1df, 66px 220px #fff1df, 798px 1400px #fff1df, 1451px 1319px #fff1df, 1920px 1284px #fff1df, 755px 942px #fff1df, 397px 422px #fff1df, 1950px 360px #fff1df, 1398px 1086px #fff1df, 254px 1374px #fff1df, 1111px 789px #fff1df, 1234px 831px #fff1df, 1106px 1833px #fff1df, 909px 1355px #fff1df, 1327px 1863px #fff1df, 484px 292px #fff1df, 1339px 582px #fff1df, 1749px 1554px #fff1df, 1245px 1042px #fff1df, 1075px 382px #fff1df, 414px 415px #fff1df, 1095px 1333px #fff1df, 1309px 93px #fff1df, 1276px 968px #fff1df, 1133px 1432px #fff1df, 1546px 1107px #fff1df, 155px 1765px #fff1df, 194px 1727px #fff1df, 1795px 7px #fff1df, 153px 224px #fff1df, 1027px 1163px #fff1df, 1573px 1059px #fff1df, 414px 1709px #fff1df, 1820px 1134px #fff1df, 1375px 1539px #fff1df, 1722px 624px #fff1df, 851px 882px #fff1df, 694px 789px #fff1df, 1681px 524px #fff1df, 1622px 1633px #fff1df, 369px 1290px #fff1df, 453px 1241px #fff1df, 1694px 1232px #fff1df, 273px 829px #fff1df, 1701px 1602px #fff1df, 1726px 492px #fff1df, 266px 1383px #fff1df, 1438px 496px #fff1df, 127px 1567px #fff1df, 399px 372px #fff1df, 947px 157px #fff1df, 471px 1143px #fff1df, 287px 245px #fff1df, 366px 1138px #fff1df, 756px 569px #fff1df, 1476px 353px #fff1df, 1983px 1951px #fff1df, 1798px 27px #fff1df, 1317px 106px #fff1df, 1486px 1277px #fff1df, 1158px 1899px #fff1df, 81px 1358px #fff1df, 1096px 969px #fff1df, 611px 1647px #fff1df, 692px 207px #fff1df, 471px 610px #fff1df, 1191px 669px #fff1df, 1368px 115px #fff1df, 434px 1263px #fff1df, 1892px 183px #fff1df, 961px 1883px #fff1df, 425px 144px #fff1df, 1278px 640px #fff1df, 849px 1529px #fff1df, 425px 963px #fff1df, 519px 240px #fff1df, 1336px 1066px #fff1df, 1729px 156px #fff1df, 1687px 622px #fff1df, 873px 435px #fff1df, 15px 473px #fff1df, 745px 649px #fff1df, 365px 1508px #fff1df, 1879px 694px #fff1df, 42px 1834px #fff1df, 1058px 36px #fff1df, 1521px 1865px #fff1df, 872px 1973px #fff1df, 1429px 996px #fff1df, 452px 617px #fff1df, 152px 223px #fff1df, 1708px 1885px #fff1df, 1867px 1456px #fff1df, 1450px 455px #fff1df, 840px 547px #fff1df, 1468px 103px #fff1df, 1994px 34px #fff1df, 751px 1729px #fff1df, 1404px 906px #fff1df, 1980px 936px #fff1df, 458px 1572px #fff1df, 412px 1283px #fff1df, 952px 755px #fff1df, 613px 156px #fff1df, 308px 655px #fff1df, 94px 1915px #fff1df, 179px 473px #fff1df, 614px 1509px #fff1df, 259px 1783px #fff1df, 1703px 725px #fff1df, 1819px 1213px #fff1df, 561px 706px #fff1df, 418px 673px #fff1df, 821px 926px #fff1df, 68px 643px #fff1df, 588px 156px #fff1df, 1873px 1807px #fff1df, 1112px 1162px #fff1df, 1141px 849px #fff1df, 1433px 662px #fff1df, 340px 1126px #fff1df, 26px 486px #fff1df, 1057px 293px #fff1df, 1895px 601px #fff1df, 208px 1186px #fff1df, 325px 1644px #fff1df, 525px 930px #fff1df, 464px 1379px #fff1df, 1841px 1363px #fff1df, 1411px 1434px #fff1df, 1270px 659px #fff1df, 342px 857px #fff1df, 1598px 293px #fff1df, 834px 1676px #fff1df, 58px 276px #fff1df, 116px 1219px #fff1df, 1852px 157px #fff1df, 1051px 1364px #fff1df, 1175px 586px #fff1df, 1076px 1071px #fff1df, 971px 856px #fff1df, 1274px 1079px #fff1df, 1274px 1887px #fff1df, 786px 1959px #fff1df, 87px 1923px #fff1df, 330px 150px #fff1df, 1022px 1275px #fff1df, 975px 1821px #fff1df, 414px 1364px #fff1df, 1330px 1067px #fff1df, 1625px 1361px #fff1df, 1200px 645px #fff1df, 1537px 569px #fff1df, 948px 99px #fff1df, 469px 1486px #fff1df, 949px 55px #fff1df, 299px 641px #fff1df, 1016px 102px #fff1df, 1336px 1961px #fff1df, 815px 211px #fff1df, 1713px 450px #fff1df, 1406px 1307px #fff1df, 987px 185px #fff1df, 816px 1234px #fff1df, 87px 1115px #fff1df, 1804px 621px #fff1df, 1571px 752px #fff1df, 45px 134px #fff1df, 1523px 1480px #fff1df, 1392px 888px #fff1df, 648px 1676px #fff1df, 1401px 574px #fff1df, 354px 552px #fff1df, 148px 1909px #fff1df, 1035px 1361px #fff1df, 1175px 1605px #fff1df, 973px 120px #fff1df, 417px 59px #fff1df, 49px 59px #fff1df, 1561px 524px #fff1df, 1959px 298px #fff1df, 244px 1453px #fff1df, 1845px 1744px #fff1df, 1009px 569px #fff1df, 849px 1692px #fff1df, 736px 1410px #fff1df, 1597px 1633px #fff1df, 872px 1623px #fff1df, 1424px 1295px #fff1df, 443px 1180px #fff1df, 566px 92px #fff1df, 66px 1746px #fff1df, 380px 1383px #fff1df, 397px 1522px #fff1df, 459px 1961px #fff1df, 195px 1213px #fff1df, 247px 19px #fff1df, 36px 1333px #fff1df, 230px 1819px #fff1df, 796px 848px #fff1df, 1964px 1930px #fff1df, 468px 1782px #fff1df, 1085px 1084px #fff1df, 1502px 1863px #fff1df, 383px 853px #fff1df, 364px 133px #fff1df, 185px 1372px #fff1df, 1922px 698px #fff1df, 361px 1489px #fff1df, 1059px 1925px #fff1df, 1127px 1332px #fff1df, 1285px 1402px #fff1df, 863px 731px #fff1df, 148px 1487px #fff1df, 1450px 1397px #fff1df, 666px 921px #fff1df, 431px 741px #fff1df, 1677px 10px #fff1df, 384px 369px #fff1df, 572px 1734px #fff1df, 73px 559px #fff1df, 1536px 1263px #fff1df, 1072px 1790px #fff1df, 1679px 1108px #fff1df, 541px 1976px #fff1df, 1750px 945px #fff1df, 938px 1393px #fff1df, 1000px 1264px #fff1df, 1798px 538px #fff1df, 1191px 1727px #fff1df, 1977px 155px #fff1df, 1670px 1310px #fff1df, 1797px 615px #fff1df, 275px 1554px #fff1df, 56px 870px #fff1df, 990px 1368px #fff1df, 27px 173px #fff1df, 288px 1122px #fff1df, 1417px 949px #fff1df, 224px 1029px #fff1df, 1040px 1884px #fff1df, 490px 540px #fff1df, 746px 1113px #fff1df, 389px 1246px #fff1df, 513px 554px #fff1df, 665px 1731px #fff1df, 324px 567px #fff1df, 776px 38px #fff1df, 756px 1142px #fff1df, 1605px 1790px #fff1df, 1543px 643px #fff1df, 1616px 688px #fff1df, 627px 1953px #fff1df, 272px 102px #fff1df, 1167px 1718px #fff1df, 1882px 1306px #fff1df, 246px 1938px #fff1df, 1622px 1190px #fff1df, 1439px 373px #fff1df, 625px 1103px #fff1df, 1630px 1383px #fff1df, 381px 483px #fff1df, 1718px 1327px #fff1df, 1127px 323px #fff1df, 586px 372px #fff1df, 1739px 1880px #fff1df, 1671px 799px #fff1df, 952px 1635px #fff1df, 11px 404px #fff1df, 970px 1523px #fff1df, 275px 450px #fff1df, 1804px 854px #fff1df, 562px 1701px #fff1df, 95px 243px #fff1df, 843px 1836px #fff1df, 1438px 1647px #fff1df, 649px 1925px #fff1df, 1200px 1735px #fff1df, 1246px 985px #fff1df, 1418px 241px #fff1df, 1394px 44px #fff1df, 1069px 993px #fff1df, 1140px 491px #fff1df, 1427px 465px #fff1df, 1094px 435px #fff1df, 688px 1972px #fff1df, 1994px 362px #fff1df, 1749px 146px #fff1df, 1240px 229px #fff1df, 1857px 880px #fff1df, 1607px 1594px #fff1df, 281px 787px #fff1df, 1120px 1775px #fff1df, 1973px 1434px #fff1df, 118px 1521px #fff1df, 633px 52px #fff1df, 1245px 1422px #fff1df, 1323px 1526px #fff1df, 1018px 692px #fff1df, 1137px 1887px #fff1df, 1344px 1548px #fff1df, 997px 99px #fff1df, 1368px 846px #fff1df, 58px 1440px #fff1df, 1398px 36px #fff1df, 736px 1093px #fff1df, 1632px 469px #fff1df, 481px 1538px #fff1df, 1709px 138px #fff1df, 1361px 1113px #fff1df, 1912px 1396px #fff1df, 709px 276px #fff1df, 1843px 187px #fff1df, 1871px 1252px #fff1df, 836px 420px #fff1df, 1461px 560px #fff1df, 1955px 1579px #fff1df, 1464px 1946px #fff1df, 627px 255px #fff1df, 1273px 224px #fff1df, 1388px 1540px #fff1df, 353px 43px #fff1df, 6px 839px #fff1df, 1093px 185px #fff1df, 1318px 1170px #fff1df, 797px 1906px #fff1df, 1634px 95px #fff1df, 1802px 932px #fff1df, 660px 849px #fff1df, 1964px 122px #fff1df, 205px 354px #fff1df, 486px 1701px #fff1df, 1560px 1566px #fff1df, 1801px 1588px #fff1df, 152px 1572px #fff1df, 1265px 724px #fff1df, 328px 1650px #fff1df, 941px 614px #fff1df, 1543px 502px #fff1df, 806px 183px #fff1df, 1972px 1381px #fff1df, 781px 642px #fff1df, 438px 144px #fff1df, 21px 678px #fff1df, 395px 568px #fff1df, 587px 1224px #fff1df, 1207px 1338px #fff1df, 1132px 574px #fff1df, 1534px 409px #fff1df, 113px 939px #fff1df, 727px 1864px #fff1df, 1841px 849px #fff1df, 1633px 1957px #fff1df, 688px 1146px #fff1df, 772px 1240px #fff1df, 1847px 1883px #fff1df, 623px 1932px #fff1df, 202px 21px #fff1df, 1896px 10px #fff1df, 1480px 1340px #fff1df, 281px 357px #fff1df, 1903px 685px #fff1df, 1184px 1649px #fff1df, 1941px 806px #fff1df, 1694px 76px #fff1df, 1713px 788px #fff1df, 1557px 1171px #fff1df, 1261px 1421px #fff1df, 1896px 352px #fff1df, 1365px 546px #fff1df, 1083px 541px #fff1df, 1641px 65px #fff1df, 1969px 1820px #fff1df, 1126px 670px #fff1df, 599px 681px #fff1df, 1758px 1847px #fff1df, 1138px 578px #fff1df, 77px 817px #fff1df, 1006px 1071px #fff1df, 860px 831px #fff1df, 535px 1484px #fff1df, 635px 895px #fff1df, 1211px 576px #fff1df, 38px 888px #fff1df, 1386px 1934px #fff1df, 1681px 135px #fff1df, 1685px 1158px #fff1df, 71px 1873px #fff1df, 389px 906px #fff1df, 1944px 128px #fff1df, 1730px 340px #fff1df, 1933px 1733px #fff1df, 1123px 741px #fff1df, 142px 1441px #fff1df, 478px 1862px #fff1df, 1793px 1626px #fff1df, 1961px 1459px #fff1df, 452px 1856px #fff1df, 1323px 435px #fff1df, 886px 1432px #fff1df, 914px 1078px #fff1df, 1742px 1707px #fff1df, 221px 762px #fff1df, 438px 1294px #fff1df, 1111px 1405px #fff1df, 1089px 1758px #fff1df, 662px 709px #fff1df, 484px 158px #fff1df, 192px 243px #fff1df, 409px 1470px #fff1df, 967px 1498px #fff1df, 302px 894px #fff1df, 1225px 1368px #fff1df, 1814px 576px #fff1df, 115px 1227px #fff1df, 1999px 219px #fff1df, 178px 1700px #fff1df, 272px 1437px #fff1df, 851px 185px #fff1df, 966px 1799px #fff1df, 106px 1990px #fff1df, 1627px 1817px #fff1df, 1953px 1688px #fff1df, 1107px 280px #fff1df, 1418px 688px #fff1df, 1130px 1214px #fff1df, 642px 414px #fff1df, 1791px 777px #fff1df, 85px 751px #fff1df, 1937px 1274px #fff1df, 173px 400px #fff1df, 1695px 885px #fff1df, 313px 1380px #fff1df, 1686px 1806px #fff1df, 110px 673px #fff1df, 912px 1778px #fff1df, 1315px 583px #fff1df, 1673px 405px #fff1df, 392px 1554px #fff1df, 1103px 1240px #fff1df, 1006px 1280px #fff1df, 1631px 1781px #fff1df, 1093px 1751px #fff1df, 1612px 47px #fff1df, 808px 158px #fff1df, 1533px 174px #fff1df, 1331px 585px #fff1df, 208px 1369px #fff1df, 1976px 527px #fff1df, 246px 691px #fff1df, 756px 1189px #fff1df, 1021px 46px #fff1df, 182px 837px #fff1df, 938px 1974px #fff1df, 530px 761px #fff1df, 1709px 989px #fff1df, 829px 88px #fff1df, 208px 946px #fff1df, 1940px 58px #fff1df, 763px 1261px #fff1df, 95px 1559px #fff1df, 1086px 126px #fff1df, 1141px 689px #fff1df, 1729px 786px #fff1df, 804px 567px #fff1df, 674px 1168px #fff1df, 172px 1078px #fff1df, 1718px 1401px #fff1df, 1783px 170px #fff1df, 257px 1581px #fff1df, 631px 599px #fff1df, 434px 883px #fff1df, 975px 1100px #fff1df, 525px 366px #fff1df, 1737px 290px #fff1df, 1113px 1791px #fff1df, 934px 153px #fff1df, 1282px 150px #fff1df, 1850px 1983px #fff1df, 1956px 469px #fff1df, 14px 1394px #fff1df, 538px 1347px #fff1df, 379px 1100px #fff1df, 402px 1643px #fff1df, 1587px 1245px #fff1df, 782px 1146px #fff1df, 53px 256px #fff1df, 1183px 655px #fff1df, 858px 173px #fff1df, 1217px 1852px #fff1df, 1658px 761px #fff1df, 1648px 1040px #fff1df, 1777px 1179px #fff1df, 268px 1312px #fff1df, 349px 1663px #fff1df, 1524px 1112px #fff1df, 150px 1707px #fff1df, 904px 1549px #fff1df, 1416px 1449px #fff1df, 1532px 121px #fff1df, 465px 65px #fff1df, 1362px 932px #fff1df, 1749px 1040px #fff1df, 1001px 1068px #fff1df, 1700px 16px #fff1df, 1239px 574px #fff1df, 1810px 1212px #fff1df, 301px 326px #fff1df, 1295px 1059px #fff1df, 481px 346px #fff1df, 1162px 412px #fff1df, 1448px 1043px #fff1df, 1577px 308px #fff1df, 263px 355px #fff1df, 1747px 1796px #fff1df, 554px 1763px #fff1df, 761px 1490px #fff1df, 1257px 1766px #fff1df, 389px 726px #fff1df, 653px 1219px #fff1df, 473px 340px #fff1df, 1856px 642px #fff1df, 780px 1986px #fff1df, 344px 353px #fff1df, 1705px 1963px #fff1df, 1482px 1810px #fff1df, 1653px 464px #fff1df, 652px 464px #fff1df, 1022px 1910px #fff1df, 711px 1508px #fff1df, 581px 702px #fff1df, 1704px 585px #fff1df, 1428px 995px #fff1df, 232px 1795px #fff1df, 1092px 188px #fff1df, 1404px 1501px #fff1df, 1024px 585px #fff1df, 358px 384px #fff1df, 885px 1584px #fff1df, 1971px 296px #fff1df, 1116px 1659px #fff1df, 497px 1144px #fff1df, 1024px 303px #fff1df, 6px 1056px #fff1df, 534px 1225px #fff1df, 1831px 1624px #fff1df, 758px 710px #fff1df, 1900px 729px #fff1df, 1681px 727px #fff1df, 391px 726px #fff1df, 1207px 1156px #fff1df, 1176px 507px #fff1df, 538px 681px #fff1df, 255px 114px #fff1df, 1535px 1246px #fff1df, 602px 939px #fff1df, 1931px 215px #fff1df, 1445px 376px #fff1df, 1974px 3px #fff1df, 771px 191px #fff1df, 618px 1550px #fff1df, 864px 418px #fff1df, 240px 1786px #fff1df, 1516px 1322px #fff1df, 1333px 1200px #fff1df, 1098px 1778px #fff1df, 246px 203px #fff1df, 699px 1867px #fff1df, 1550px 1728px #fff1df, 816px 1712px #fff1df, 721px 173px #fff1df, 750px 1741px #fff1df, 49px 572px #fff1df, 486px 1026px #fff1df, 179px 471px #fff1df, 913px 445px #fff1df, 1772px 1978px #fff1df, 1085px 479px #fff1df, 342px 480px #fff1df, 875px 1952px #fff1df, 1393px 1245px #fff1df, 1050px 1265px #fff1df, 540px 1418px #fff1df, 1040px 1804px #fff1df, 1206px 1784px #fff1df, 1307px 712px #fff1df, 809px 1723px #fff1df, 786px 760px #fff1df, 358px 384px #fff1df, 85px 1934px #fff1df, 707px 688px #fff1df, 465px 367px #fff1df, 1973px 1004px #fff1df, 1328px 1502px #fff1df, 290px 158px #fff1df, 1490px 525px #fff1df, 1306px 1310px #fff1df, 64px 1973px #fff1df, 635px 1257px #fff1df, 836px 609px #fff1df, 1218px 1405px #fff1df, 845px 513px #fff1df, 1794px 1508px #fff1df, 845px 536px #fff1df, 67px 1211px #fff1df, 721px 82px #fff1df, 1389px 690px #fff1df, 1922px 707px #fff1df, 41px 1440px #fff1df, 599px 563px #fff1df, 911px 186px #fff1df, 366px 849px #fff1df, 1136px 139px #fff1df, 1893px 176px #fff1df, 289px 506px #fff1df, 720px 872px #fff1df, 60px 525px #fff1df, 682px 1352px #fff1df, 1922px 510px #fff1df, 973px 341px #fff1df, 1937px 1627px #fff1df, 601px 412px #fff1df, 551px 550px #fff1df, 975px 1667px #fff1df, 9px 1802px #fff1df, 253px 228px #fff1df, 213px 804px #fff1df, 1534px 1728px #fff1df, 710px 1189px #fff1df, 219px 1583px #fff1df, 868px 1716px #fff1df, 908px 464px #fff1df, 1287px 908px #fff1df, 1787px 1772px #fff1df, 1890px 1189px #fff1df, 1627px 344px #fff1df, 1792px 1718px #fff1df, 903px 914px #fff1df, 512px 1126px #fff1df, 853px 678px #fff1df, 616px 1433px #fff1df, 1150px 1335px #fff1df, 1303px 140px #fff1df, 1629px 524px #fff1df, 899px 827px #fff1df, 1446px 160px #fff1df, 1024px 259px #fff1df, 291px 637px #fff1df, 1217px 1332px #fff1df, 1273px 1324px #fff1df, 396px 352px #fff1df, 668px 1810px #fff1df, 1480px 1805px #fff1df, 117px 336px #fff1df, 2px 1129px #fff1df, 1081px 1755px #fff1df, 1228px 1560px #fff1df, 1193px 1101px #fff1df, 1128px 996px #fff1df, 282px 701px #fff1df, 510px 1233px #fff1df, 1880px 1025px #fff1df, 116px 682px #fff1df, 208px 463px #fff1df, 1156px 1484px #fff1df, 1832px 1578px #fff1df, 421px 1094px #fff1df, 1168px 477px #fff1df, 1518px 1757px #fff1df;
  -webkit-animation: starfall 150s linear infinite;
  -ms-animation: starfall 150s linear infinite;
  animation: starfall 150s linear infinite;
}
header.header .stars-small:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1808px 1982px #fff1df, 1166px 343px #fff1df, 602px 1851px #fff1df, 1px 173px #fff1df, 93px 450px #fff1df, 1561px 1480px #fff1df, 657px 255px #fff1df, 1604px 1430px #fff1df, 636px 1647px #fff1df, 1439px 645px #fff1df, 531px 755px #fff1df, 919px 1035px #fff1df, 1455px 821px #fff1df, 66px 887px #fff1df, 1635px 1657px #fff1df, 1800px 841px #fff1df, 354px 524px #fff1df, 1241px 1145px #fff1df, 663px 619px #fff1df, 963px 1646px #fff1df, 344px 210px #fff1df, 616px 1774px #fff1df, 733px 1814px #fff1df, 1112px 885px #fff1df, 478px 865px #fff1df, 1691px 1534px #fff1df, 806px 1957px #fff1df, 318px 1095px #fff1df, 882px 467px #fff1df, 1409px 1634px #fff1df, 1587px 824px #fff1df, 1364px 838px #fff1df, 49px 1527px #fff1df, 1634px 1293px #fff1df, 66px 220px #fff1df, 798px 1400px #fff1df, 1451px 1319px #fff1df, 1920px 1284px #fff1df, 755px 942px #fff1df, 397px 422px #fff1df, 1950px 360px #fff1df, 1398px 1086px #fff1df, 254px 1374px #fff1df, 1111px 789px #fff1df, 1234px 831px #fff1df, 1106px 1833px #fff1df, 909px 1355px #fff1df, 1327px 1863px #fff1df, 484px 292px #fff1df, 1339px 582px #fff1df, 1749px 1554px #fff1df, 1245px 1042px #fff1df, 1075px 382px #fff1df, 414px 415px #fff1df, 1095px 1333px #fff1df, 1309px 93px #fff1df, 1276px 968px #fff1df, 1133px 1432px #fff1df, 1546px 1107px #fff1df, 155px 1765px #fff1df, 194px 1727px #fff1df, 1795px 7px #fff1df, 153px 224px #fff1df, 1027px 1163px #fff1df, 1573px 1059px #fff1df, 414px 1709px #fff1df, 1820px 1134px #fff1df, 1375px 1539px #fff1df, 1722px 624px #fff1df, 851px 882px #fff1df, 694px 789px #fff1df, 1681px 524px #fff1df, 1622px 1633px #fff1df, 369px 1290px #fff1df, 453px 1241px #fff1df, 1694px 1232px #fff1df, 273px 829px #fff1df, 1701px 1602px #fff1df, 1726px 492px #fff1df, 266px 1383px #fff1df, 1438px 496px #fff1df, 127px 1567px #fff1df, 399px 372px #fff1df, 947px 157px #fff1df, 471px 1143px #fff1df, 287px 245px #fff1df, 366px 1138px #fff1df, 756px 569px #fff1df, 1476px 353px #fff1df, 1983px 1951px #fff1df, 1798px 27px #fff1df, 1317px 106px #fff1df, 1486px 1277px #fff1df, 1158px 1899px #fff1df, 81px 1358px #fff1df, 1096px 969px #fff1df, 611px 1647px #fff1df, 692px 207px #fff1df, 471px 610px #fff1df, 1191px 669px #fff1df, 1368px 115px #fff1df, 434px 1263px #fff1df, 1892px 183px #fff1df, 961px 1883px #fff1df, 425px 144px #fff1df, 1278px 640px #fff1df, 849px 1529px #fff1df, 425px 963px #fff1df, 519px 240px #fff1df, 1336px 1066px #fff1df, 1729px 156px #fff1df, 1687px 622px #fff1df, 873px 435px #fff1df, 15px 473px #fff1df, 745px 649px #fff1df, 365px 1508px #fff1df, 1879px 694px #fff1df, 42px 1834px #fff1df, 1058px 36px #fff1df, 1521px 1865px #fff1df, 872px 1973px #fff1df, 1429px 996px #fff1df, 452px 617px #fff1df, 152px 223px #fff1df, 1708px 1885px #fff1df, 1867px 1456px #fff1df, 1450px 455px #fff1df, 840px 547px #fff1df, 1468px 103px #fff1df, 1994px 34px #fff1df, 751px 1729px #fff1df, 1404px 906px #fff1df, 1980px 936px #fff1df, 458px 1572px #fff1df, 412px 1283px #fff1df, 952px 755px #fff1df, 613px 156px #fff1df, 308px 655px #fff1df, 94px 1915px #fff1df, 179px 473px #fff1df, 614px 1509px #fff1df, 259px 1783px #fff1df, 1703px 725px #fff1df, 1819px 1213px #fff1df, 561px 706px #fff1df, 418px 673px #fff1df, 821px 926px #fff1df, 68px 643px #fff1df, 588px 156px #fff1df, 1873px 1807px #fff1df, 1112px 1162px #fff1df, 1141px 849px #fff1df, 1433px 662px #fff1df, 340px 1126px #fff1df, 26px 486px #fff1df, 1057px 293px #fff1df, 1895px 601px #fff1df, 208px 1186px #fff1df, 325px 1644px #fff1df, 525px 930px #fff1df, 464px 1379px #fff1df, 1841px 1363px #fff1df, 1411px 1434px #fff1df, 1270px 659px #fff1df, 342px 857px #fff1df, 1598px 293px #fff1df, 834px 1676px #fff1df, 58px 276px #fff1df, 116px 1219px #fff1df, 1852px 157px #fff1df, 1051px 1364px #fff1df, 1175px 586px #fff1df, 1076px 1071px #fff1df, 971px 856px #fff1df, 1274px 1079px #fff1df, 1274px 1887px #fff1df, 786px 1959px #fff1df, 87px 1923px #fff1df, 330px 150px #fff1df, 1022px 1275px #fff1df, 975px 1821px #fff1df, 414px 1364px #fff1df, 1330px 1067px #fff1df, 1625px 1361px #fff1df, 1200px 645px #fff1df, 1537px 569px #fff1df, 948px 99px #fff1df, 469px 1486px #fff1df, 949px 55px #fff1df, 299px 641px #fff1df, 1016px 102px #fff1df, 1336px 1961px #fff1df, 815px 211px #fff1df, 1713px 450px #fff1df, 1406px 1307px #fff1df, 987px 185px #fff1df, 816px 1234px #fff1df, 87px 1115px #fff1df, 1804px 621px #fff1df, 1571px 752px #fff1df, 45px 134px #fff1df, 1523px 1480px #fff1df, 1392px 888px #fff1df, 648px 1676px #fff1df, 1401px 574px #fff1df, 354px 552px #fff1df, 148px 1909px #fff1df, 1035px 1361px #fff1df, 1175px 1605px #fff1df, 973px 120px #fff1df, 417px 59px #fff1df, 49px 59px #fff1df, 1561px 524px #fff1df, 1959px 298px #fff1df, 244px 1453px #fff1df, 1845px 1744px #fff1df, 1009px 569px #fff1df, 849px 1692px #fff1df, 736px 1410px #fff1df, 1597px 1633px #fff1df, 872px 1623px #fff1df, 1424px 1295px #fff1df, 443px 1180px #fff1df, 566px 92px #fff1df, 66px 1746px #fff1df, 380px 1383px #fff1df, 397px 1522px #fff1df, 459px 1961px #fff1df, 195px 1213px #fff1df, 247px 19px #fff1df, 36px 1333px #fff1df, 230px 1819px #fff1df, 796px 848px #fff1df, 1964px 1930px #fff1df, 468px 1782px #fff1df, 1085px 1084px #fff1df, 1502px 1863px #fff1df, 383px 853px #fff1df, 364px 133px #fff1df, 185px 1372px #fff1df, 1922px 698px #fff1df, 361px 1489px #fff1df, 1059px 1925px #fff1df, 1127px 1332px #fff1df, 1285px 1402px #fff1df, 863px 731px #fff1df, 148px 1487px #fff1df, 1450px 1397px #fff1df, 666px 921px #fff1df, 431px 741px #fff1df, 1677px 10px #fff1df, 384px 369px #fff1df, 572px 1734px #fff1df, 73px 559px #fff1df, 1536px 1263px #fff1df, 1072px 1790px #fff1df, 1679px 1108px #fff1df, 541px 1976px #fff1df, 1750px 945px #fff1df, 938px 1393px #fff1df, 1000px 1264px #fff1df, 1798px 538px #fff1df, 1191px 1727px #fff1df, 1977px 155px #fff1df, 1670px 1310px #fff1df, 1797px 615px #fff1df, 275px 1554px #fff1df, 56px 870px #fff1df, 990px 1368px #fff1df, 27px 173px #fff1df, 288px 1122px #fff1df, 1417px 949px #fff1df, 224px 1029px #fff1df, 1040px 1884px #fff1df, 490px 540px #fff1df, 746px 1113px #fff1df, 389px 1246px #fff1df, 513px 554px #fff1df, 665px 1731px #fff1df, 324px 567px #fff1df, 776px 38px #fff1df, 756px 1142px #fff1df, 1605px 1790px #fff1df, 1543px 643px #fff1df, 1616px 688px #fff1df, 627px 1953px #fff1df, 272px 102px #fff1df, 1167px 1718px #fff1df, 1882px 1306px #fff1df, 246px 1938px #fff1df, 1622px 1190px #fff1df, 1439px 373px #fff1df, 625px 1103px #fff1df, 1630px 1383px #fff1df, 381px 483px #fff1df, 1718px 1327px #fff1df, 1127px 323px #fff1df, 586px 372px #fff1df, 1739px 1880px #fff1df, 1671px 799px #fff1df, 952px 1635px #fff1df, 11px 404px #fff1df, 970px 1523px #fff1df, 275px 450px #fff1df, 1804px 854px #fff1df, 562px 1701px #fff1df, 95px 243px #fff1df, 843px 1836px #fff1df, 1438px 1647px #fff1df, 649px 1925px #fff1df, 1200px 1735px #fff1df, 1246px 985px #fff1df, 1418px 241px #fff1df, 1394px 44px #fff1df, 1069px 993px #fff1df, 1140px 491px #fff1df, 1427px 465px #fff1df, 1094px 435px #fff1df, 688px 1972px #fff1df, 1994px 362px #fff1df, 1749px 146px #fff1df, 1240px 229px #fff1df, 1857px 880px #fff1df, 1607px 1594px #fff1df, 281px 787px #fff1df, 1120px 1775px #fff1df, 1973px 1434px #fff1df, 118px 1521px #fff1df, 633px 52px #fff1df, 1245px 1422px #fff1df, 1323px 1526px #fff1df, 1018px 692px #fff1df, 1137px 1887px #fff1df, 1344px 1548px #fff1df, 997px 99px #fff1df, 1368px 846px #fff1df, 58px 1440px #fff1df, 1398px 36px #fff1df, 736px 1093px #fff1df, 1632px 469px #fff1df, 481px 1538px #fff1df, 1709px 138px #fff1df, 1361px 1113px #fff1df, 1912px 1396px #fff1df, 709px 276px #fff1df, 1843px 187px #fff1df, 1871px 1252px #fff1df, 836px 420px #fff1df, 1461px 560px #fff1df, 1955px 1579px #fff1df, 1464px 1946px #fff1df, 627px 255px #fff1df, 1273px 224px #fff1df, 1388px 1540px #fff1df, 353px 43px #fff1df, 6px 839px #fff1df, 1093px 185px #fff1df, 1318px 1170px #fff1df, 797px 1906px #fff1df, 1634px 95px #fff1df, 1802px 932px #fff1df, 660px 849px #fff1df, 1964px 122px #fff1df, 205px 354px #fff1df, 486px 1701px #fff1df, 1560px 1566px #fff1df, 1801px 1588px #fff1df, 152px 1572px #fff1df, 1265px 724px #fff1df, 328px 1650px #fff1df, 941px 614px #fff1df, 1543px 502px #fff1df, 806px 183px #fff1df, 1972px 1381px #fff1df, 781px 642px #fff1df, 438px 144px #fff1df, 21px 678px #fff1df, 395px 568px #fff1df, 587px 1224px #fff1df, 1207px 1338px #fff1df, 1132px 574px #fff1df, 1534px 409px #fff1df, 113px 939px #fff1df, 727px 1864px #fff1df, 1841px 849px #fff1df, 1633px 1957px #fff1df, 688px 1146px #fff1df, 772px 1240px #fff1df, 1847px 1883px #fff1df, 623px 1932px #fff1df, 202px 21px #fff1df, 1896px 10px #fff1df, 1480px 1340px #fff1df, 281px 357px #fff1df, 1903px 685px #fff1df, 1184px 1649px #fff1df, 1941px 806px #fff1df, 1694px 76px #fff1df, 1713px 788px #fff1df, 1557px 1171px #fff1df, 1261px 1421px #fff1df, 1896px 352px #fff1df, 1365px 546px #fff1df, 1083px 541px #fff1df, 1641px 65px #fff1df, 1969px 1820px #fff1df, 1126px 670px #fff1df, 599px 681px #fff1df, 1758px 1847px #fff1df, 1138px 578px #fff1df, 77px 817px #fff1df, 1006px 1071px #fff1df, 860px 831px #fff1df, 535px 1484px #fff1df, 635px 895px #fff1df, 1211px 576px #fff1df, 38px 888px #fff1df, 1386px 1934px #fff1df, 1681px 135px #fff1df, 1685px 1158px #fff1df, 71px 1873px #fff1df, 389px 906px #fff1df, 1944px 128px #fff1df, 1730px 340px #fff1df, 1933px 1733px #fff1df, 1123px 741px #fff1df, 142px 1441px #fff1df, 478px 1862px #fff1df, 1793px 1626px #fff1df, 1961px 1459px #fff1df, 452px 1856px #fff1df, 1323px 435px #fff1df, 886px 1432px #fff1df, 914px 1078px #fff1df, 1742px 1707px #fff1df, 221px 762px #fff1df, 438px 1294px #fff1df, 1111px 1405px #fff1df, 1089px 1758px #fff1df, 662px 709px #fff1df, 484px 158px #fff1df, 192px 243px #fff1df, 409px 1470px #fff1df, 967px 1498px #fff1df, 302px 894px #fff1df, 1225px 1368px #fff1df, 1814px 576px #fff1df, 115px 1227px #fff1df, 1999px 219px #fff1df, 178px 1700px #fff1df, 272px 1437px #fff1df, 851px 185px #fff1df, 966px 1799px #fff1df, 106px 1990px #fff1df, 1627px 1817px #fff1df, 1953px 1688px #fff1df, 1107px 280px #fff1df, 1418px 688px #fff1df, 1130px 1214px #fff1df, 642px 414px #fff1df, 1791px 777px #fff1df, 85px 751px #fff1df, 1937px 1274px #fff1df, 173px 400px #fff1df, 1695px 885px #fff1df, 313px 1380px #fff1df, 1686px 1806px #fff1df, 110px 673px #fff1df, 912px 1778px #fff1df, 1315px 583px #fff1df, 1673px 405px #fff1df, 392px 1554px #fff1df, 1103px 1240px #fff1df, 1006px 1280px #fff1df, 1631px 1781px #fff1df, 1093px 1751px #fff1df, 1612px 47px #fff1df, 808px 158px #fff1df, 1533px 174px #fff1df, 1331px 585px #fff1df, 208px 1369px #fff1df, 1976px 527px #fff1df, 246px 691px #fff1df, 756px 1189px #fff1df, 1021px 46px #fff1df, 182px 837px #fff1df, 938px 1974px #fff1df, 530px 761px #fff1df, 1709px 989px #fff1df, 829px 88px #fff1df, 208px 946px #fff1df, 1940px 58px #fff1df, 763px 1261px #fff1df, 95px 1559px #fff1df, 1086px 126px #fff1df, 1141px 689px #fff1df, 1729px 786px #fff1df, 804px 567px #fff1df, 674px 1168px #fff1df, 172px 1078px #fff1df, 1718px 1401px #fff1df, 1783px 170px #fff1df, 257px 1581px #fff1df, 631px 599px #fff1df, 434px 883px #fff1df, 975px 1100px #fff1df, 525px 366px #fff1df, 1737px 290px #fff1df, 1113px 1791px #fff1df, 934px 153px #fff1df, 1282px 150px #fff1df, 1850px 1983px #fff1df, 1956px 469px #fff1df, 14px 1394px #fff1df, 538px 1347px #fff1df, 379px 1100px #fff1df, 402px 1643px #fff1df, 1587px 1245px #fff1df, 782px 1146px #fff1df, 53px 256px #fff1df, 1183px 655px #fff1df, 858px 173px #fff1df, 1217px 1852px #fff1df, 1658px 761px #fff1df, 1648px 1040px #fff1df, 1777px 1179px #fff1df, 268px 1312px #fff1df, 349px 1663px #fff1df, 1524px 1112px #fff1df, 150px 1707px #fff1df, 904px 1549px #fff1df, 1416px 1449px #fff1df, 1532px 121px #fff1df, 465px 65px #fff1df, 1362px 932px #fff1df, 1749px 1040px #fff1df, 1001px 1068px #fff1df, 1700px 16px #fff1df, 1239px 574px #fff1df, 1810px 1212px #fff1df, 301px 326px #fff1df, 1295px 1059px #fff1df, 481px 346px #fff1df, 1162px 412px #fff1df, 1448px 1043px #fff1df, 1577px 308px #fff1df, 263px 355px #fff1df, 1747px 1796px #fff1df, 554px 1763px #fff1df, 761px 1490px #fff1df, 1257px 1766px #fff1df, 389px 726px #fff1df, 653px 1219px #fff1df, 473px 340px #fff1df, 1856px 642px #fff1df, 780px 1986px #fff1df, 344px 353px #fff1df, 1705px 1963px #fff1df, 1482px 1810px #fff1df, 1653px 464px #fff1df, 652px 464px #fff1df, 1022px 1910px #fff1df, 711px 1508px #fff1df, 581px 702px #fff1df, 1704px 585px #fff1df, 1428px 995px #fff1df, 232px 1795px #fff1df, 1092px 188px #fff1df, 1404px 1501px #fff1df, 1024px 585px #fff1df, 358px 384px #fff1df, 885px 1584px #fff1df, 1971px 296px #fff1df, 1116px 1659px #fff1df, 497px 1144px #fff1df, 1024px 303px #fff1df, 6px 1056px #fff1df, 534px 1225px #fff1df, 1831px 1624px #fff1df, 758px 710px #fff1df, 1900px 729px #fff1df, 1681px 727px #fff1df, 391px 726px #fff1df, 1207px 1156px #fff1df, 1176px 507px #fff1df, 538px 681px #fff1df, 255px 114px #fff1df, 1535px 1246px #fff1df, 602px 939px #fff1df, 1931px 215px #fff1df, 1445px 376px #fff1df, 1974px 3px #fff1df, 771px 191px #fff1df, 618px 1550px #fff1df, 864px 418px #fff1df, 240px 1786px #fff1df, 1516px 1322px #fff1df, 1333px 1200px #fff1df, 1098px 1778px #fff1df, 246px 203px #fff1df, 699px 1867px #fff1df, 1550px 1728px #fff1df, 816px 1712px #fff1df, 721px 173px #fff1df, 750px 1741px #fff1df, 49px 572px #fff1df, 486px 1026px #fff1df, 179px 471px #fff1df, 913px 445px #fff1df, 1772px 1978px #fff1df, 1085px 479px #fff1df, 342px 480px #fff1df, 875px 1952px #fff1df, 1393px 1245px #fff1df, 1050px 1265px #fff1df, 540px 1418px #fff1df, 1040px 1804px #fff1df, 1206px 1784px #fff1df, 1307px 712px #fff1df, 809px 1723px #fff1df, 786px 760px #fff1df, 358px 384px #fff1df, 85px 1934px #fff1df, 707px 688px #fff1df, 465px 367px #fff1df, 1973px 1004px #fff1df, 1328px 1502px #fff1df, 290px 158px #fff1df, 1490px 525px #fff1df, 1306px 1310px #fff1df, 64px 1973px #fff1df, 635px 1257px #fff1df, 836px 609px #fff1df, 1218px 1405px #fff1df, 845px 513px #fff1df, 1794px 1508px #fff1df, 845px 536px #fff1df, 67px 1211px #fff1df, 721px 82px #fff1df, 1389px 690px #fff1df, 1922px 707px #fff1df, 41px 1440px #fff1df, 599px 563px #fff1df, 911px 186px #fff1df, 366px 849px #fff1df, 1136px 139px #fff1df, 1893px 176px #fff1df, 289px 506px #fff1df, 720px 872px #fff1df, 60px 525px #fff1df, 682px 1352px #fff1df, 1922px 510px #fff1df, 973px 341px #fff1df, 1937px 1627px #fff1df, 601px 412px #fff1df, 551px 550px #fff1df, 975px 1667px #fff1df, 9px 1802px #fff1df, 253px 228px #fff1df, 213px 804px #fff1df, 1534px 1728px #fff1df, 710px 1189px #fff1df, 219px 1583px #fff1df, 868px 1716px #fff1df, 908px 464px #fff1df, 1287px 908px #fff1df, 1787px 1772px #fff1df, 1890px 1189px #fff1df, 1627px 344px #fff1df, 1792px 1718px #fff1df, 903px 914px #fff1df, 512px 1126px #fff1df, 853px 678px #fff1df, 616px 1433px #fff1df, 1150px 1335px #fff1df, 1303px 140px #fff1df, 1629px 524px #fff1df, 899px 827px #fff1df, 1446px 160px #fff1df, 1024px 259px #fff1df, 291px 637px #fff1df, 1217px 1332px #fff1df, 1273px 1324px #fff1df, 396px 352px #fff1df, 668px 1810px #fff1df, 1480px 1805px #fff1df, 117px 336px #fff1df, 2px 1129px #fff1df, 1081px 1755px #fff1df, 1228px 1560px #fff1df, 1193px 1101px #fff1df, 1128px 996px #fff1df, 282px 701px #fff1df, 510px 1233px #fff1df, 1880px 1025px #fff1df, 116px 682px #fff1df, 208px 463px #fff1df, 1156px 1484px #fff1df, 1832px 1578px #fff1df, 421px 1094px #fff1df, 1168px 477px #fff1df, 1518px 1757px #fff1df;
}
header.header .stars-medium {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1082px 283px #fff1df, 1412px 1396px #fff1df, 22px 1188px #fff1df, 1073px 1989px #fff1df, 378px 689px #fff1df, 781px 1753px #fff1df, 1922px 488px #fff1df, 298px 1094px #fff1df, 705px 1650px #fff1df, 440px 302px #fff1df, 1988px 641px #fff1df, 1638px 1781px #fff1df, 1604px 1571px #fff1df, 1488px 1327px #fff1df, 360px 1026px #fff1df, 755px 778px #fff1df, 467px 318px #fff1df, 1050px 1843px #fff1df, 118px 1158px #fff1df, 1635px 1362px #fff1df, 1096px 557px #fff1df, 318px 45px #fff1df, 517px 290px #fff1df, 1562px 1414px #fff1df, 369px 542px #fff1df, 1276px 1330px #fff1df, 999px 930px #fff1df, 333px 1767px #fff1df, 1607px 1375px #fff1df, 453px 384px #fff1df, 1834px 177px #fff1df, 1925px 1px #fff1df, 1722px 378px #fff1df, 341px 1959px #fff1df, 1739px 799px #fff1df, 510px 1646px #fff1df, 583px 612px #fff1df, 1384px 1615px #fff1df, 74px 419px #fff1df, 1038px 941px #fff1df, 1795px 1606px #fff1df, 567px 758px #fff1df, 839px 1586px #fff1df, 194px 1307px #fff1df, 1154px 399px #fff1df, 815px 1084px #fff1df, 1480px 1039px #fff1df, 1880px 633px #fff1df, 930px 1760px #fff1df, 769px 1646px #fff1df, 237px 641px #fff1df, 575px 1939px #fff1df, 625px 1084px #fff1df, 1196px 491px #fff1df, 1620px 765px #fff1df, 694px 477px #fff1df, 1337px 140px #fff1df, 764px 1086px #fff1df, 1155px 1668px #fff1df, 408px 440px #fff1df, 788px 1250px #fff1df, 191px 1738px #fff1df, 499px 1376px #fff1df, 1340px 579px #fff1df, 1845px 792px #fff1df, 688px 677px #fff1df, 1997px 1262px #fff1df, 900px 1854px #fff1df, 1350px 779px #fff1df, 1046px 1198px #fff1df, 401px 1638px #fff1df, 271px 727px #fff1df, 175px 205px #fff1df, 1437px 1165px #fff1df, 443px 1971px #fff1df, 874px 1171px #fff1df, 3px 1894px #fff1df, 970px 1885px #fff1df, 1055px 103px #fff1df, 951px 1746px #fff1df, 1705px 1799px #fff1df, 1337px 841px #fff1df, 971px 325px #fff1df, 232px 1232px #fff1df, 648px 1300px #fff1df, 1445px 1939px #fff1df, 363px 639px #fff1df, 1485px 653px #fff1df, 1666px 1695px #fff1df, 1517px 1876px #fff1df, 181px 157px #fff1df, 81px 1762px #fff1df, 34px 1432px #fff1df, 1653px 412px #fff1df, 1488px 489px #fff1df, 1095px 1729px #fff1df, 663px 42px #fff1df, 1090px 5px #fff1df, 171px 1617px #fff1df, 1839px 1649px #fff1df, 1002px 331px #fff1df, 1031px 716px #fff1df, 1178px 1790px #fff1df, 1145px 902px #fff1df, 303px 101px #fff1df, 1947px 827px #fff1df, 1459px 179px #fff1df, 115px 1959px #fff1df, 1016px 195px #fff1df, 11px 985px #fff1df, 1492px 1234px #fff1df, 834px 1895px #fff1df, 896px 656px #fff1df, 1782px 113px #fff1df, 909px 564px #fff1df, 520px 859px #fff1df, 779px 1091px #fff1df, 2px 224px #fff1df, 990px 490px #fff1df, 184px 1729px #fff1df, 232px 138px #fff1df, 1469px 343px #fff1df, 359px 1052px #fff1df, 197px 735px #fff1df, 1337px 222px #fff1df, 831px 776px #fff1df, 1372px 1567px #fff1df, 800px 22px #fff1df, 1767px 1563px #fff1df, 1290px 1532px #fff1df, 1482px 1170px #fff1df, 146px 295px #fff1df, 1937px 1002px #fff1df, 460px 1006px #fff1df, 1470px 983px #fff1df, 1373px 503px #fff1df, 1580px 1794px #fff1df, 169px 1118px #fff1df, 101px 313px #fff1df, 1864px 41px #fff1df, 502px 1278px #fff1df, 831px 1493px #fff1df, 236px 89px #fff1df, 1041px 436px #fff1df, 931px 1684px #fff1df, 1857px 1935px #fff1df, 1941px 1294px #fff1df, 409px 1479px #fff1df, 1430px 1395px #fff1df, 268px 895px #fff1df, 1195px 1721px #fff1df, 1483px 1217px #fff1df, 1477px 898px #fff1df, 459px 1219px #fff1df, 934px 696px #fff1df, 916px 1206px #fff1df, 753px 1193px #fff1df, 1895px 1881px #fff1df, 529px 611px #fff1df, 71px 1350px #fff1df, 142px 591px #fff1df, 1686px 250px #fff1df, 1465px 14px #fff1df, 1147px 713px #fff1df, 373px 643px #fff1df, 1006px 1301px #fff1df, 263px 1238px #fff1df, 1265px 1575px #fff1df, 831px 321px #fff1df, 1892px 1402px #fff1df, 710px 1656px #fff1df, 571px 848px #fff1df, 925px 86px #fff1df, 165px 1225px #fff1df, 601px 289px #fff1df, 1081px 1708px #fff1df, 627px 467px #fff1df, 126px 1355px #fff1df, 1945px 983px #fff1df, 851px 810px #fff1df, 222px 1998px #fff1df, 1532px 1766px #fff1df, 1501px 1640px #fff1df, 1840px 620px #fff1df, 202px 353px #fff1df, 598px 1263px #fff1df, 1744px 0px #fff1df, 250px 1779px #fff1df, 1538px 1604px #fff1df, 898px 1809px #fff1df, 1372px 192px #fff1df, 635px 245px #fff1df, 1574px 1163px #fff1df, 325px 1680px #fff1df, 400px 1745px #fff1df, 263px 1399px #fff1df, 14px 66px #fff1df, 1076px 1827px #fff1df, 991px 1855px #fff1df, 1682px 1315px #fff1df, 1356px 1708px #fff1df, 522px 1382px #fff1df;
  -webkit-animation: starfall 100s linear infinite;
  -ms-animation: starfall 100s linear infinite;
  animation: starfall 100s linear infinite;
}
header.header .stars-medium:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1082px 283px #fff1df, 1412px 1396px #fff1df, 22px 1188px #fff1df, 1073px 1989px #fff1df, 378px 689px #fff1df, 781px 1753px #fff1df, 1922px 488px #fff1df, 298px 1094px #fff1df, 705px 1650px #fff1df, 440px 302px #fff1df, 1988px 641px #fff1df, 1638px 1781px #fff1df, 1604px 1571px #fff1df, 1488px 1327px #fff1df, 360px 1026px #fff1df, 755px 778px #fff1df, 467px 318px #fff1df, 1050px 1843px #fff1df, 118px 1158px #fff1df, 1635px 1362px #fff1df, 1096px 557px #fff1df, 318px 45px #fff1df, 517px 290px #fff1df, 1562px 1414px #fff1df, 369px 542px #fff1df, 1276px 1330px #fff1df, 999px 930px #fff1df, 333px 1767px #fff1df, 1607px 1375px #fff1df, 453px 384px #fff1df, 1834px 177px #fff1df, 1925px 1px #fff1df, 1722px 378px #fff1df, 341px 1959px #fff1df, 1739px 799px #fff1df, 510px 1646px #fff1df, 583px 612px #fff1df, 1384px 1615px #fff1df, 74px 419px #fff1df, 1038px 941px #fff1df, 1795px 1606px #fff1df, 567px 758px #fff1df, 839px 1586px #fff1df, 194px 1307px #fff1df, 1154px 399px #fff1df, 815px 1084px #fff1df, 1480px 1039px #fff1df, 1880px 633px #fff1df, 930px 1760px #fff1df, 769px 1646px #fff1df, 237px 641px #fff1df, 575px 1939px #fff1df, 625px 1084px #fff1df, 1196px 491px #fff1df, 1620px 765px #fff1df, 694px 477px #fff1df, 1337px 140px #fff1df, 764px 1086px #fff1df, 1155px 1668px #fff1df, 408px 440px #fff1df, 788px 1250px #fff1df, 191px 1738px #fff1df, 499px 1376px #fff1df, 1340px 579px #fff1df, 1845px 792px #fff1df, 688px 677px #fff1df, 1997px 1262px #fff1df, 900px 1854px #fff1df, 1350px 779px #fff1df, 1046px 1198px #fff1df, 401px 1638px #fff1df, 271px 727px #fff1df, 175px 205px #fff1df, 1437px 1165px #fff1df, 443px 1971px #fff1df, 874px 1171px #fff1df, 3px 1894px #fff1df, 970px 1885px #fff1df, 1055px 103px #fff1df, 951px 1746px #fff1df, 1705px 1799px #fff1df, 1337px 841px #fff1df, 971px 325px #fff1df, 232px 1232px #fff1df, 648px 1300px #fff1df, 1445px 1939px #fff1df, 363px 639px #fff1df, 1485px 653px #fff1df, 1666px 1695px #fff1df, 1517px 1876px #fff1df, 181px 157px #fff1df, 81px 1762px #fff1df, 34px 1432px #fff1df, 1653px 412px #fff1df, 1488px 489px #fff1df, 1095px 1729px #fff1df, 663px 42px #fff1df, 1090px 5px #fff1df, 171px 1617px #fff1df, 1839px 1649px #fff1df, 1002px 331px #fff1df, 1031px 716px #fff1df, 1178px 1790px #fff1df, 1145px 902px #fff1df, 303px 101px #fff1df, 1947px 827px #fff1df, 1459px 179px #fff1df, 115px 1959px #fff1df, 1016px 195px #fff1df, 11px 985px #fff1df, 1492px 1234px #fff1df, 834px 1895px #fff1df, 896px 656px #fff1df, 1782px 113px #fff1df, 909px 564px #fff1df, 520px 859px #fff1df, 779px 1091px #fff1df, 2px 224px #fff1df, 990px 490px #fff1df, 184px 1729px #fff1df, 232px 138px #fff1df, 1469px 343px #fff1df, 359px 1052px #fff1df, 197px 735px #fff1df, 1337px 222px #fff1df, 831px 776px #fff1df, 1372px 1567px #fff1df, 800px 22px #fff1df, 1767px 1563px #fff1df, 1290px 1532px #fff1df, 1482px 1170px #fff1df, 146px 295px #fff1df, 1937px 1002px #fff1df, 460px 1006px #fff1df, 1470px 983px #fff1df, 1373px 503px #fff1df, 1580px 1794px #fff1df, 169px 1118px #fff1df, 101px 313px #fff1df, 1864px 41px #fff1df, 502px 1278px #fff1df, 831px 1493px #fff1df, 236px 89px #fff1df, 1041px 436px #fff1df, 931px 1684px #fff1df, 1857px 1935px #fff1df, 1941px 1294px #fff1df, 409px 1479px #fff1df, 1430px 1395px #fff1df, 268px 895px #fff1df, 1195px 1721px #fff1df, 1483px 1217px #fff1df, 1477px 898px #fff1df, 459px 1219px #fff1df, 934px 696px #fff1df, 916px 1206px #fff1df, 753px 1193px #fff1df, 1895px 1881px #fff1df, 529px 611px #fff1df, 71px 1350px #fff1df, 142px 591px #fff1df, 1686px 250px #fff1df, 1465px 14px #fff1df, 1147px 713px #fff1df, 373px 643px #fff1df, 1006px 1301px #fff1df, 263px 1238px #fff1df, 1265px 1575px #fff1df, 831px 321px #fff1df, 1892px 1402px #fff1df, 710px 1656px #fff1df, 571px 848px #fff1df, 925px 86px #fff1df, 165px 1225px #fff1df, 601px 289px #fff1df, 1081px 1708px #fff1df, 627px 467px #fff1df, 126px 1355px #fff1df, 1945px 983px #fff1df, 851px 810px #fff1df, 222px 1998px #fff1df, 1532px 1766px #fff1df, 1501px 1640px #fff1df, 1840px 620px #fff1df, 202px 353px #fff1df, 598px 1263px #fff1df, 1744px 0px #fff1df, 250px 1779px #fff1df, 1538px 1604px #fff1df, 898px 1809px #fff1df, 1372px 192px #fff1df, 635px 245px #fff1df, 1574px 1163px #fff1df, 325px 1680px #fff1df, 400px 1745px #fff1df, 263px 1399px #fff1df, 14px 66px #fff1df, 1076px 1827px #fff1df, 991px 1855px #fff1df, 1682px 1315px #fff1df, 1356px 1708px #fff1df, 522px 1382px #fff1df;
}
header.header .stars-big {
  width: 3px;
  height: 3px;
  background: transparent;
  -webkit-animation: starfall 50s linear infinite;
  -ms-animation: starfall 50s linear infinite;
  animation: starfall 50s linear infinite;
  box-shadow: 1713px 916px #fff1df, 374px 555px #fff1df, 1914px 55px #fff1df, 1308px 1571px #fff1df, 1920px 1397px #fff1df, 465px 1504px #fff1df, 1004px 23px #fff1df, 1717px 1440px #fff1df, 375px 310px #fff1df, 41px 1935px #fff1df, 1188px 1365px #fff1df, 259px 1974px #fff1df, 958px 805px #fff1df, 1452px 1411px #fff1df, 675px 1710px #fff1df, 675px 1461px #fff1df, 1328px 1957px #fff1df, 1107px 1938px #fff1df, 751px 860px #fff1df, 1289px 1352px #fff1df, 327px 1948px #fff1df, 1861px 1151px #fff1df, 1256px 668px #fff1df, 238px 1136px #fff1df, 151px 1091px #fff1df, 1876px 722px #fff1df, 58px 1395px #fff1df, 358px 476px #fff1df, 1968px 1955px #fff1df, 427px 921px #fff1df, 75px 1411px #fff1df, 517px 1658px #fff1df, 1424px 49px #fff1df, 719px 155px #fff1df, 1705px 1903px #fff1df, 1854px 1013px #fff1df, 724px 1004px #fff1df, 1678px 1007px #fff1df, 1665px 1858px #fff1df, 942px 924px #fff1df, 1845px 191px #fff1df, 638px 846px #fff1df, 224px 754px #fff1df, 1370px 1367px #fff1df, 471px 327px #fff1df, 1085px 438px #fff1df, 595px 1329px #fff1df, 262px 607px #fff1df, 1508px 230px #fff1df, 1969px 509px #fff1df, 454px 1796px #fff1df, 768px 931px #fff1df, 1959px 1662px #fff1df, 78px 1844px #fff1df, 164px 1072px #fff1df, 1312px 348px #fff1df, 659px 1061px #fff1df, 176px 663px #fff1df, 676px 928px #fff1df, 742px 549px #fff1df, 245px 1276px #fff1df, 689px 661px #fff1df, 239px 276px #fff1df, 167px 356px #fff1df, 1184px 200px #fff1df, 1427px 620px #fff1df, 1680px 857px #fff1df, 340px 284px #fff1df, 1651px 446px #fff1df, 202px 1372px #fff1df, 114px 1470px #fff1df, 1013px 1829px #fff1df, 1269px 131px #fff1df, 748px 1616px #fff1df, 1828px 1823px #fff1df, 749px 350px #fff1df, 187px 108px #fff1df, 774px 1664px #fff1df, 1626px 857px #fff1df, 1350px 1488px #fff1df, 1217px 738px #fff1df, 1488px 633px #fff1df, 922px 675px #fff1df, 1160px 117px #fff1df, 12px 1693px #fff1df, 111px 486px #fff1df, 1724px 1367px #fff1df, 1369px 1607px #fff1df, 1076px 1640px #fff1df, 375px 371px #fff1df, 1288px 947px #fff1df, 836px 1124px #fff1df, 1082px 439px #fff1df, 1319px 710px #fff1df, 941px 674px #fff1df, 114px 1882px #fff1df, 70px 691px #fff1df, 293px 855px #fff1df, 1621px 99px #fff1df, 1869px 1758px #fff1df, 1760px 1472px #fff1df, 426px 561px #fff1df;
}
header.header .stars-big:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1713px 916px #fff1df, 374px 555px #fff1df, 1914px 55px #fff1df, 1308px 1571px #fff1df, 1920px 1397px #fff1df, 465px 1504px #fff1df, 1004px 23px #fff1df, 1717px 1440px #fff1df, 375px 310px #fff1df, 41px 1935px #fff1df, 1188px 1365px #fff1df, 259px 1974px #fff1df, 958px 805px #fff1df, 1452px 1411px #fff1df, 675px 1710px #fff1df, 675px 1461px #fff1df, 1328px 1957px #fff1df, 1107px 1938px #fff1df, 751px 860px #fff1df, 1289px 1352px #fff1df, 327px 1948px #fff1df, 1861px 1151px #fff1df, 1256px 668px #fff1df, 238px 1136px #fff1df, 151px 1091px #fff1df, 1876px 722px #fff1df, 58px 1395px #fff1df, 358px 476px #fff1df, 1968px 1955px #fff1df, 427px 921px #fff1df, 75px 1411px #fff1df, 517px 1658px #fff1df, 1424px 49px #fff1df, 719px 155px #fff1df, 1705px 1903px #fff1df, 1854px 1013px #fff1df, 724px 1004px #fff1df, 1678px 1007px #fff1df, 1665px 1858px #fff1df, 942px 924px #fff1df, 1845px 191px #fff1df, 638px 846px #fff1df, 224px 754px #fff1df, 1370px 1367px #fff1df, 471px 327px #fff1df, 1085px 438px #fff1df, 595px 1329px #fff1df, 262px 607px #fff1df, 1508px 230px #fff1df, 1969px 509px #fff1df, 454px 1796px #fff1df, 768px 931px #fff1df, 1959px 1662px #fff1df, 78px 1844px #fff1df, 164px 1072px #fff1df, 1312px 348px #fff1df, 659px 1061px #fff1df, 176px 663px #fff1df, 676px 928px #fff1df, 742px 549px #fff1df, 245px 1276px #fff1df, 689px 661px #fff1df, 239px 276px #fff1df, 167px 356px #fff1df, 1184px 200px #fff1df, 1427px 620px #fff1df, 1680px 857px #fff1df, 340px 284px #fff1df, 1651px 446px #fff1df, 202px 1372px #fff1df, 114px 1470px #fff1df, 1013px 1829px #fff1df, 1269px 131px #fff1df, 748px 1616px #fff1df, 1828px 1823px #fff1df, 749px 350px #fff1df, 187px 108px #fff1df, 774px 1664px #fff1df, 1626px 857px #fff1df, 1350px 1488px #fff1df, 1217px 738px #fff1df, 1488px 633px #fff1df, 922px 675px #fff1df, 1160px 117px #fff1df, 12px 1693px #fff1df, 111px 486px #fff1df, 1724px 1367px #fff1df, 1369px 1607px #fff1df, 1076px 1640px #fff1df, 375px 371px #fff1df, 1288px 947px #fff1df, 836px 1124px #fff1df, 1082px 439px #fff1df, 1319px 710px #fff1df, 941px 674px #fff1df, 114px 1882px #fff1df, 70px 691px #fff1df, 293px 855px #fff1df, 1621px 99px #fff1df, 1869px 1758px #fff1df, 1760px 1472px #fff1df, 426px 561px #fff1df;
}
header.header .stars-big:after {
  content: " ";
  width: 3px;
  height: 3px;
  background: #fff;
}
header.header .header-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
}
header.header .header-bottom img {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  border: 3px solid #fff;
}
header.header.minimized .title {
  margin-left: 110px;
  color: #000;
  font-size: 0.3em;
}
header.header.minimized .title h3 {
  display: none;
}
header.header.minimized .header-bottom {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  -webkit-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width: 50%;
}
header.header.minimized .header-bottom img {
  width: 75px;
  height: 75px;
  border: 2px solid #fff;
  margin-left: 25px;
}
.footer {
  text-align: center;
  margin: 60px;
  padding-bottom: 20px;
}
.main {
  padding-top: 120px;
  height: 100%;
}
.main .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.contact {
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 85%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.contact h1 {
  font-size: 48px;
  margin-bottom: 10px;
}
.contact ul {
  margin-top: 20px;
}
.contact ul li {
  padding: 10px;
  text-align: center;
}
.contact ul li a {
  text-align: center;
  font-size: 28px;
  margin-left: 10px;
}
.contact ul li span {
  font-size: 28px;
  color: $gray-1;
  margin-left: 10px;
}

.posts {
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 85%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.posts h1 {
  font-size: 42px;
  color: #000;
  margin-bottom: 10px;
  font-weight: bold;
}
.posts h2.section-name {
  font-size: 32px;
  font-weight: bold;
}
.posts h3 {
  font-size: 28px;
}
.posts .blog-section {
  width: 500px;
  padding: 10px;
  margin-bottom: 80px;
}
.posts .blog-section .blog-post-date {
  color: #888;
  font-size: 20px;
  margin-right: 7px;
}
.posts .blog-section .blog-post a {
  font-size: 20px;
}
.post {
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.post h1 {
  font-size: 42px;
  color: #000;
  margin-bottom: 10px;
  font-weight: bold;
}
.post h2 {
  font-size: 32px;
  color: #000;
  margin-bottom: 10px;
  font-weight: bold;
}
.post h3 {
  font-size: 24px;
  color: #000;
}
.post h4 {
  font-size: 20px;
  color: #000;
}
.post p {
  font-size: 18px;
}



/*# sourceMappingURL=app.css.map*/